<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
    <configSections>
        <sectionGroup name="system.web.extensions" type="System.Web.Configuration.SystemWebExtensionsSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
            <sectionGroup name="scripting" type="System.Web.Configuration.ScriptingSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
                <section name="scriptResourceHandler" type="System.Web.Configuration.ScriptingScriptResourceHandlerSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
                <sectionGroup name="webServices" type="System.Web.Configuration.ScriptingWebServicesSectionGroup, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35">
                    <section name="jsonSerialization" type="System.Web.Configuration.ScriptingJsonSerializationSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="Everywhere"/>
                    <section name="profileService" type="System.Web.Configuration.ScriptingProfileServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
                    <section name="authenticationService" type="System.Web.Configuration.ScriptingAuthenticationServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
                    <section name="roleService" type="System.Web.Configuration.ScriptingRoleServiceSection, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" requirePermission="false" allowDefinition="MachineToApplication"/>
                </sectionGroup>
            </sectionGroup>
        </sectionGroup>
        <sectionGroup name="Element-IT.PowUpload">
            <section name="settings" type="System.Configuration.SingleTagSectionHandler, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
        </sectionGroup>
        <section name="SubSonicService" type="SubSonic.SubSonicSection, SubSonic" allowDefinition="MachineToApplication" restartOnExternalChanges="true" requirePermission="false"/>
    </configSections>
    <appSettings>
        <add key="UseCustomSkin" value="false" />
        <add key="Telerik.Skin" value="Simple" />
        <add key="Telerik.WebControls.SkinPath" value="~/Library/Skins"/>
        <add key="AutoGeoTagging" value="true"/>
        <add key="SitePathImages" value="/library/images/layout/" />
        <add key="SitePathCss" value="/library/styles/" />
        <add key="SitePathScripts" value="/library/scripts/" />
        <add key="SitePathLanguageFiles" value="/library/language/" />
        <add key="SitePathConfigFiles" value="/configurations/" />
        <add key="DefaultLanguage" value="de" />
        <add key="AvailableLanguages" value="de" />
        <add key="DefaultCulture" value="de-CH" />
        <add key="AvailableCultures" value="de-CH" />
        <add key="UseVirtualLanguagePath" value="false"/>
        <add key="ShowRememberLogin" value="true"/>
        <add key="ReportMail" value="wys@online.ch"/>
        <add key="BugReportMail" value="wys@online.ch"/>
        <add key="RegistrationBCCMail" value="wys@online.ch"/>
        <add key="FeedbackMail" value="wys@online.ch"/>
        <add key="DefaultCommunityID" value="65498787-4a55-4fbf-9b02-621065192a73"/>
        <add key="SiteName" value="MySG"/>
        <add key="MediaDomainName" value="http://sieme.local.media" />
        <add key="HostName" value="http://webforumsg"/>
        <add key="TagWordCloudSize" value="32"/>
        <add key="KyteTVDefaultChannel" value="459"/>
        <add key="LogPath" value="/Log"/>
        <add key="PromoActivationCode" value="vh2007"/>
        <add key="DefaultCreateGroupUsers" value="Owners"/>
        <add key="DefaultUploadUsers" value="Members"/>
        <add key="UsePopupWindows" value="true"/>
        <add key="UserStartPage" value="Dashboard"/>
        <!-- Default (e.q. stay on current page) | Homepage | Dashboard -->
        <add key="XsltTemplateURLS" value="/library/Templates/"/>
        <add key="GoogleMapKey" value="ABQIAAAAboOyDfd4RfwNQWXTj-kzBRQ3CRJbYLKVArXLckWkI8-aiq5IABQBNuvUpsaJowEX3YLakNm8v_AZPQ"/>
        <add key="AmountMobileHPNews" value="5"/>
        <add key="AmountMobileHPNewestContent" value="2"/>
        <add key="ConverterRootPath" value="\\testserver\csbooster" />
        <add key="ConverterRootPathUpload" value="\\testserver\csbooster\Upload" />
        <add key="ConverterRootPathMedia" value="\\testserver\csbooster\Media" />
        <add key="ScriptVersionNo" value="10"/>
        <add key="UseAmazoneS3" value="false"/>
        <add key="AmazoneS3Bucket" value="sssmedia"/>
        <add key="AmazoneS3BucketLocation" value="US"/>
        <add key="ChartImageHandler" value="Storage=file;Timeout=20;Url=~/Log/;"/>
        <add key="ClosedUserGroup" value="false"/>
        <add key="RegistrationActivationCodeLength" value="10"/>
    </appSettings>
    <connectionStrings>
        <add name="CSBoosterConnectionString" connectionString="Data Source=4sappl02.INTRANET.4screen.local\SQL2005;Initial Catalog=CSBooster.WebForumSG;Persist Security Info=True;User ID=CSBooster_User;Password=cs-booster;Connect Timeout=60;enlist=false;Asynchronous Processing=true;Pooling=true;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <SubSonicService defaultProvider="SqlDataProvider">
        <providers>
            <clear/>
            <add name="SqlDataProvider" type="SubSonic.SqlDataProvider, SubSonic" connectionStringName="CSBoosterConnectionString" generatedNamespace="_4screen.CSB.WebUI"/>
        </providers>
    </SubSonicService>
    <Element-IT.PowUpload>
        <!-- Falls ignoreHttpRuntimeMaxRequestLength="true" wird maxRequestLength ignoriert -->
        <settings tempPath="\\testserver\csbooster\Upload" processPages="Wizard.aspx,Default.aspx?*cn=wizard" ignorePages="" uploadIDQueryField="UploadSession" ignoreHttpRuntimeMaxRequestLength="false" maxRequestLengthToCloseConnection="-1" maxRequestLength="-1" minRequestLengthProcess="-1" bandwidthLimit="-1" passForm="true" throwErrorsImmediately="true" logExceptions="false"/>
    </Element-IT.PowUpload>
    <system.web>
        <!-- BEGIN TODO darf nur auf TRUE gesetzt werden, wenn Security-Probleme beim File-Upload auf Remote-Media-Server -->
        <identity impersonate="false" />
        <!-- WS: Allow only Authenticated users -->
        <authorization>
            <!-- deny users="?" / -->
            <allow users="*"/>
        </authorization>
        <!-- END TODO darf nur auf TRUE gesetzt werden, wenn Security-Probleme beim File-Upload auf Remote-Media-Server -->

        <siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
            <providers>
                <add name="XmlSiteMapProvider" description="Sitemap Provider" type="System.Web.XmlSiteMapProvider" siteMapFile="Web.Sitemap" securityTrimmingEnabled="true"/>
            </providers>
        </siteMap>
        <customErrors mode="RemoteOnly" defaultRedirect="~/Pages/Static/Error.aspx"/>
        <trace enabled="false" pageOutput="true" requestLimit="30"/>
        <sessionState mode="InProc" cookieless="false" timeout="20"/>
        <authentication mode="Forms">
            <forms name=".DBAuth" loginUrl="~/Default.aspx?CN=LoginPage" protection="All" timeout="20160" path="/" requireSSL="false" slidingExpiration="true" defaultUrl="~/Default.aspx" cookieless="UseDeviceProfile" enableCrossAppRedirects="false"/>
        </authentication>
        <membership defaultProvider="CSBoosterMembershipProvider">
            <providers>
                <clear/>
                <add connectionStringName="CSBoosterConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CSBooster" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="2" passwordStrengthRegularExpression="" minRequiredNonalphanumericCharacters="0" name="CSBoosterMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
        </membership>
        <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="CSBoosterRoleManagerSqlProvider">
            <providers>
                <clear/>
                <add name="CSBoosterRoleManagerSqlProvider" connectionStringName="CSBoosterConnectionString" applicationName="CSBooster" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
        </roleManager>
        <profile enabled="true" automaticSaveEnabled="false" defaultProvider="CSBoosterProfileSqlProvider" inherits="_4screen.CSB.Common.UserProfile">
            <providers>
                <clear/>
                <add name="CSBoosterProfileSqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CSBoosterConnectionString" applicationName="CSBooster" description="SqlProfileProvider for CSBooster"/>
            </providers>
        </profile>
        <anonymousIdentification enabled="true" cookieName=".DBANON" cookieTimeout="43200" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" cookieless="UseCookies"/>
        <!--
          Set compilation debug="true" to insert debugging
          symbols into the compiled page. Because this
          affects performance, set this value to true only
          during development.
    -->
        <compilation debug="true" strict="false" explicit="true">
            <buildProviders>
                <add extension=".abp" type="SubSonic.BuildProvider, SubSonic"/>
            </buildProviders>
            <assemblies>
                <add assembly="System.Core, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add assembly="System.Data.DataSetExtensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Xml.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Data.Linq, Version=3.5.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Transactions, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
                <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>

                <add assembly="System.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
                <add assembly="System.Drawing.Design, Version=2.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
            </assemblies>
        </compilation>
        <pages enableEventValidation="false" validateRequest="false">
            <controls>
                <add tagPrefix="web" namespace="_4screen.WebControls" assembly="4screen.WebControls" />
                <add tagPrefix="telerik" namespace="Telerik.Web.UI" assembly="Telerik.Web.UI" />
                <add tagPrefix="asp" namespace="System.Web.UI" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
                <add tagPrefix="asp" namespace="System.Web.UI.WebControls" assembly="System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            </controls>
        </pages>
        <httpHandlers>
            <remove path="*.asmx" verb="*"/>
            <add path="*.asmx" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
            <add path="*_AppService.axd" verb="*" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
            <add verb="*" path="*/popups/ResourceEditDialog.aspx" validate="false" type="_4screen.WebControls.Popups.ResourceEditDialogAspx, 4screen.WebControls" />
            <add path="ScriptResource.axd" verb="GET,HEAD" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" validate="false"/>
            <add path="Telerik.Web.UI.WebResource.axd" verb="*" type="Telerik.Web.UI.WebResource, Telerik.Web.UI" validate="false" />
            <add path="Telerik.RadUploadProgressHandler.ashx" verb="*" type="Telerik.Web.UI.RadUploadProgressHandler, Telerik.Web.UI"/>
            <add path="Telerik.Web.UI.DialogHandler.aspx" verb="*" type="Telerik.Web.UI.DialogHandler, Telerik.Web.UI" validate="false"/>
            <add path="Telerik.Web.UI.SpellCheckHandler.axd" verb="*" type="Telerik.Web.UI.SpellCheckHandler, Telerik.Web.UI" validate="false"/>
            <add path="ChartImage.axd" verb="*" type="Telerik.Web.UI.ChartHttpHandler, Telerik.Web.UI" validate="false" />
            <add path="CropImage.axd" verb="*" type="Anders.Web.Controls.ImageCropperHttpHandler" validate="false"/>
            <add path="of.axd" verb="*" type="OpenFlashChartLib.Web.OpenFlashChartControlHandler, OpenFlashChartLib"/>
            <add verb="GET" path="CaptchaImage.axd"  type="MSCaptcha.CaptchaImageHandler, MSCaptcha"/>
        </httpHandlers>
        <!-- maxRequestLength ist in KB -->
        <httpRuntime maxRequestLength="204800" requestLengthDiskThreshold="204800" executionTimeout="3600" useFullyQualifiedRedirectUrl="true"  enableVersionHeader="false"/>
        <httpModules>
            <!-- Remove unnecessary Modules for faster pipeline-->
            <remove name="WindowsAuthentication"/>
            <remove name="PassportAuthentication"/>
            <add name="ScriptModule" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="RadUploadModule" type="Telerik.Web.UI.RadUploadHttpModule, Telerik.Web.UI"/>
            <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
            <add name="ElementIT.PowUpload.UploadModule" type="ElementIT.PowUpload.UploadModule, Element-IT.PowUpload"/>
        </httpModules>
    </system.web>
    <system.webServer>
        <validation validateIntegratedModeConfiguration="false"/>
        <modules>
            <remove name="ScriptModule"/>
            <add name="ScriptModule" preCondition="managedHandler" type="System.Web.Handlers.ScriptModule, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="RadCompression" type="Telerik.Web.UI.RadCompression"/>
        </modules>
        <handlers>
            <remove name="ScriptHandlerFactory"/>
            <remove name="ScriptHandlerFactoryAppServices"/>
            <remove name="ScriptResource"/>
            <remove name="WebServiceHandlerFactory-Integrated"/>
            <remove name="ChartImageHandler"/>
            <add name="ScriptHandlerFactory" verb="*" path="*.asmx" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="ScriptHandlerFactoryAppServices" verb="*" path="*_AppService.axd" preCondition="integratedMode" type="System.Web.Script.Services.ScriptHandlerFactory, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
            <add name="ScriptResource" preCondition="integratedMode" verb="GET,HEAD" path="ScriptResource.axd" type="System.Web.Handlers.ScriptResourceHandler, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        </handlers>
        <defaultDocument enabled="true">
            <files>
                <clear/>
                <add value="default.aspx"/>
            </files>
        </defaultDocument>
        <security>
            <requestFiltering>
                <!-- maxAllowedContentLength ist in Bytes, benötigt <section name="requestFiltering" overrideModeDefault="Allow" /> in %win%\System32\inetsrv\config\applicationHost.config -->
                <requestLimits maxAllowedContentLength="209715200"/>
            </requestFiltering>
        </security>
    </system.webServer>
    <system.net>
        <mailSettings>
            <smtp from="MySG &lt;wys@online.ch&gt;">
                <network host="mail.ocx.ch" password="" userName=""/>
            </smtp>
        </mailSettings>
    </system.net>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
            <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="OptionInfer" value="true"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
        </compilers>
    </system.codedom>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Extensions" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
            </dependentAssembly>
            <dependentAssembly>
                <assemblyIdentity name="System.Web.Extensions.Design" publicKeyToken="31bf3856ad364e35"/>
                <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="3.5.0.0"/>
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
</configuration>