<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
 </configSections>
 <connectionStrings>
  <add name="CSBoosterConnectionString" connectionString="Data Source=4sappl02.INTRANET.4screen.local\SQL2005;Initial Catalog=CSBooster.BAA;Persist Security Info=True;User ID=CSBooster_User;Password=cs-booster;Connect Timeout=60;enlist=false;Asynchronous Processing=true;Pooling=true;"
   providerName="System.Data.SqlClient" />
  <add name="CSBooster.MonitorUsers.Properties.Settings.CSBooster_BAAConnectionString"
   connectionString="Data Source=4SAPPL02\sql2005;Initial Catalog=CSBooster.BAA;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<system.web>
		<membership defaultProvider="YouMeNetMembershipProvider">
			<providers>
				<clear />
				<add name="YouMeNetMembershipProvider"  connectionStringName="CSBoosterConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CSBooster" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="2" passwordStrengthRegularExpression="" minRequiredNonalphanumericCharacters="0" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="YouMeNetRoleManagerSqlProvider">
			<providers>
				<clear />
				<add name="YouMeNetRoleManagerSqlProvider" connectionStringName="CSBoosterConnectionString" applicationName="CSBooster" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" />
			</providers>
		</roleManager>
		<profile enabled="true" automaticSaveEnabled="false" defaultProvider="YouMeNetProfileSqlProvider" inherits="_4screen.CSB.Common.UserProfile">
			<providers>
				<clear />
				<add name="YouMeNetProfileSqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CSBoosterConnectionString" applicationName="CSBooster" description="SqlProfileProvider for CSBooster" />
			</providers>
		</profile>
	</system.web>
	</configuration>