<?xml version="1.0"?>
<configuration>
    <appSettings>
        <add key="ServiceName" value="CSBooster Rest Services - 4.0.0.0"/>
        <add key="ServiceLogName" value="CSBooster"/>
        <add key="ServiceLogSourceName" value="RestServices"/>
        <add key="ServiceTypeName" value="_4screen.CSB.WebServices.DataService"/>
        <add key="IncludeDebugInfos" value="true" />
        <add key="AutoGeoTagging" value="true" />
        <add key="DefaultLang" value="de-ch" />
        <add key="AvailableLangs" value="de-ch,en-us" />
        <add key="ReportMail" value="ts@4screen.ch" />
        <add key="BugReportMail" value="ts@4screen.ch" />
        <add key="RegistrationBCCMail" value="ts@4screen.ch" />
        <add key="MediaDomainName" value="http://10.0.1.106" />
        <add key="HostName" value="http://csbooster" />
        <add key="LogPath" value="/Log" />
        <add key="ConverterRootPath" value="\\csbmedia\csbooster" />
        <add key="ConverterRootPathUpload" value="\\csbmedia\csbooster\Upload" />
        <add key="ConverterRootPathMedia" value="\\csbmedia\csbooster\Media" />
    </appSettings>
    <connectionStrings>
        <add name="CSBoosterConnectionString" connectionString="Data Source=4sappl02.INTRANET.4screen.local\SQL2005;Initial Catalog=CSBooster.NewsPortal;Persist Security Info=True;User ID=CSBooster_User;Password=cs-booster;Connect Timeout=60;enlist=false;Asynchronous Processing=true;Pooling=true;" providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <membership defaultProvider="CSBoosterMembershipProvider">
            <providers>
                <clear/>
                <add connectionStringName="CSBoosterConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CSBooster" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="2" passwordStrengthRegularExpression="" minRequiredNonalphanumericCharacters="0" name="CSBoosterMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
        </membership>
        <roleManager enabled="true" cacheRolesInCookie="true" defaultProvider="CSBoosterRoleManagerSqlProvider">
            <providers>
                <clear/>
                <add name="CSBoosterRoleManagerSqlProvider" connectionStringName="CSBoosterConnectionString" applicationName="CSBooster" type="System.Web.Security.SqlRoleProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
        </roleManager>
    </system.web>
    <system.serviceModel>
        <behaviors>
            <serviceBehaviors>
                <behavior name="WebServiceBehavior">
                    <serviceDebug includeExceptionDetailInFaults="true"/>
                    <serviceMetadata httpGetEnabled="true"/>
                    <serviceCredentials>
                        <userNameAuthentication userNamePasswordValidationMode="Custom" customUserNamePasswordValidatorType="_4screen.CSB.WebServices.CustomUNPValidator, CSBooster.WebServices"/>
                    </serviceCredentials>
                </behavior>
            </serviceBehaviors>
        </behaviors>
        <bindings>
            <webHttpBinding>
                <binding name="WebBinding">
                    <security mode="Transport">
                        <transport clientCredentialType="Basic" />
                    </security>
                    <readerQuotas maxStringContentLength="131072" />
                </binding>
            </webHttpBinding>
        </bindings>
        <services>
            <service behaviorConfiguration="WebServiceBehavior" name="_4screen.CSB.WebServices.DataService">
                <endpoint address="" binding="webHttpBinding" bindingConfiguration="WebBinding" name="DataServiceEndpoint" contract="_4screen.CSB.WebServices.IDataService" />
                <host>
                    <baseAddresses>
                        <add baseAddress="https://localhost:8000/csbooster" />
                    </baseAddresses>
                </host>
            </service>
        </services>
    </system.serviceModel>
    <system.codedom>
        <compilers>
            <compiler language="c#;cs;csharp" compilerOptions="/platform:x86" extension=".cs" type="Microsoft.CSharp.CSharpCodeProvider,System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
            <compiler language="vb;vbs;visualbasic;vbscript" compilerOptions="/platform:x86" extension=".vb" type="Microsoft.VisualBasic.VBCodeProvider, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" warningLevel="4">
                <providerOption name="CompilerVersion" value="v3.5"/>
                <providerOption name="OptionInfer" value="true"/>
                <providerOption name="WarnAsError" value="false"/>
            </compiler>
        </compilers>
    </system.codedom>
</configuration>
