<XtraSerializer version="1.0" application="DockManager">
  <property name="#LayoutVersion" />
  <property name="TopZIndexControls" iskey="true" value="1">
    <property name="Item1">DevExpress.XtraBars.BarDockControl</property>
  </property>
  <property name="Panels" iskey="true" value="13">
    <property name="Item1" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">false</property>
      <property name="XtraParentID">8</property>
      <property name="XtraID">0</property>
      <property name="FloatVertical">true</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">0</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">-1</property>
      <property name="XtraBounds">@2,Y=25@1,X=3@3,Width=561@3,Height=202</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">1</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">199efa44-ab2e-45d5-96a2-63fa8194e079</property>
      <property name="Text">Statistik (Anzahl erstellte Objekte - Total)</property>
    </property>
    <property name="Item2" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">false</property>
      <property name="XtraParentID">8</property>
      <property name="XtraID">1</property>
      <property name="FloatVertical">true</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">0</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">-1</property>
      <property name="XtraBounds">@2,Y=25@1,X=3@3,Width=561@3,Height=202</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">0</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">f4bd72f1-24ee-47e1-b68c-16f255378a34</property>
      <property name="Text">Statistik (Anzahl erstellte Objekte - Heute)</property>
    </property>
    <property name="Item3" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">false</property>
      <property name="XtraParentID">-1</property>
      <property name="XtraID">2</property>
      <property name="FloatVertical">true</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">0</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Top</property>
      <property name="XtraActiveChildID">-1</property>
      <property name="XtraBounds">@3,Y=541@1,X=0@4,Width=1317@3,Height=215</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">1</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">12a35751-6a63-48b3-a7e7-1553e0013c7f</property>
      <property name="Text">Benutzer Monitor</property>
    </property>
    <property name="Item4" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">false</property>
      <property name="XtraParentID">9</property>
      <property name="XtraID">3</property>
      <property name="FloatVertical">true</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">0</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">-1</property>
      <property name="XtraBounds">@2,Y=25@1,X=3@3,Width=561@3,Height=203</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">1</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">adf1d05c-f95c-46c1-90ef-8db922f1e435</property>
      <property name="Text">Statistik (Anzahl betrachtete Objekte - Total)</property>
    </property>
    <property name="Item5" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">false</property>
      <property name="XtraParentID">9</property>
      <property name="XtraID">4</property>
      <property name="FloatVertical">false</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">0</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">-1</property>
      <property name="XtraBounds">@2,Y=25@1,X=3@3,Width=561@3,Height=203</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">0</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">fef0a8ff-c6ed-4459-ad73-c81688ce394b</property>
      <property name="Text">Statistik (Anzahl betrachtete Objekte - Heute)</property>
    </property>
    <property name="Item6" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">false</property>
      <property name="XtraParentID">-1</property>
      <property name="XtraID">5</property>
      <property name="FloatVertical">true</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">2</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Top</property>
      <property name="XtraActiveChildID">-1</property>
      <property name="XtraBounds">@2,Y=30@1,X=0@4,Width=1317@3,Height=511</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">2</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">8c23307d-4310-4d22-8689-fcbec5cc1788</property>
      <property name="Text">DockPanel</property>
    </property>
    <property name="Item7" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">false</property>
      <property name="XtraParentID">12</property>
      <property name="XtraID">6</property>
      <property name="FloatVertical">true</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">0</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">-1</property>
      <property name="XtraBounds">@2,Y=25@1,X=3@3,Width=744@3,Height=458</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">0</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">423de076-dcc0-4e3c-955a-2ae59e83d4ca</property>
      <property name="Text">Inhalt Editor</property>
    </property>
    <property name="Item8" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">false</property>
      <property name="XtraParentID">5</property>
      <property name="XtraID">7</property>
      <property name="FloatVertical">false</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">2</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">-1</property>
      <property name="XtraBounds">@1,Y=0@3,X=750@3,Width=567@3,Height=511</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">1</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">eff481f5-f3a4-4300-bd54-351a62b95b06</property>
      <property name="Text">DockPanel</property>
    </property>
    <property name="Item9" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">true</property>
      <property name="XtraParentID">7</property>
      <property name="XtraID">8</property>
      <property name="FloatVertical">true</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">2</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">1</property>
      <property name="XtraBounds">@1,Y=0@1,X=0@3,Width=567@3,Height=255</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">0</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">2b7fb5ce-c522-44c2-99f8-b2268544120e</property>
      <property name="Text">DockPanel</property>
    </property>
    <property name="Item10" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">true</property>
      <property name="XtraParentID">7</property>
      <property name="XtraID">9</property>
      <property name="FloatVertical">true</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">2</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">4</property>
      <property name="XtraBounds">@3,Y=255@1,X=0@3,Width=567@3,Height=256</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">1</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">5b19ee59-9de6-43b9-a670-993603eb4f07</property>
      <property name="Text">DockPanel</property>
    </property>
    <property name="Item11" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">false</property>
      <property name="XtraParentID">12</property>
      <property name="XtraID">10</property>
      <property name="FloatVertical">true</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">0</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">-1</property>
      <property name="XtraBounds">@2,Y=25@1,X=3@3,Width=744@3,Height=458</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">1</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">0b1ac6b5-57ab-4e8e-bbe7-e9ebda890dc7</property>
      <property name="Text">Featured Content</property>
    </property>
    <property name="Item12" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">false</property>
      <property name="XtraParentID">12</property>
      <property name="XtraID">11</property>
      <property name="FloatVertical">false</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">0</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">-1</property>
      <property name="XtraBounds">@2,Y=25@1,X=3@3,Width=744@3,Height=458</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">2</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">849a2cee-e30f-4a4e-9720-afde43935209</property>
      <property name="Text">Werbekampagnen</property>
    </property>
    <property name="Item13" isnull="true" iskey="true">
      <property name="XtraSavedParentID">-1</property>
      <property name="FloatLocation">@1,X=0@1,Y=0</property>
      <property name="Options" isnull="true" iskey="true">
        <property name="AllowFloating">true</property>
        <property name="ShowCloseButton">true</property>
        <property name="AllowDockLeft">true</property>
        <property name="ShowAutoHideButton">true</property>
        <property name="FloatOnDblClick">true</property>
        <property name="ShowMaximizeButton">true</property>
        <property name="AllowDockBottom">true</property>
        <property name="AllowDockRight">true</property>
        <property name="AllowDockFill">true</property>
        <property name="AllowDockTop">true</property>
      </property>
      <property name="Tabbed">true</property>
      <property name="XtraParentID">5</property>
      <property name="XtraID">12</property>
      <property name="FloatVertical">true</property>
      <property name="Visibility">Visible</property>
      <property name="Hint" />
      <property name="SavedIndex">-1</property>
      <property name="Count">3</property>
      <property name="FloatSize">@3,Height=350@3,Width=350</property>
      <property name="Dock">Fill</property>
      <property name="XtraActiveChildID">6</property>
      <property name="XtraBounds">@1,Y=0@1,X=0@3,Width=750@3,Height=511</property>
      <property name="TabsPosition">Bottom</property>
      <property name="XtraAutoHideContainerDock">Float</property>
      <property name="XtraZIndex">0</property>
      <property name="ImageIndex">-1</property>
      <property name="SavedDock">Float</property>
      <property name="TabText" />
      <property name="SavedTabbed">false</property>
      <property name="TabsScroll">false</property>
      <property name="ID">413913cc-221a-40d3-9223-cf528cac416a</property>
      <property name="Text">DockPanel</property>
    </property>
  </property>
  <property name="AutoHideContainers" iskey="true" value="0" />
  <property name="DockingOptions" isnull="true" iskey="true">
    <property name="FloatOnDblClick">true</property>
    <property name="CloseActiveTabOnly">true</property>
    <property name="ShowAutoHideButton">true</property>
    <property name="HideImmediatelyOnAutoHide">false</property>
    <property name="ShowMaximizeButton">true</property>
    <property name="CursorFloatCanceled" isnull="true" />
    <property name="ShowCloseButton">true</property>
    <property name="ShowCaptionOnMouseHover">false</property>
  </property>
  <property name="ActivePanelID">12</property>
</XtraSerializer>