<?xml version="1.0" encoding="utf-8"?>
<ArrayOfPersistentPanel xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <PersistentPanel>
    <PanelId>199efa44-ab2e-45d5-96a2-63fa8194e079</PanelId>
    <MonitorControlProperties xsi:type="MonitorControlStatisticsProperties">
      <ServiceLocation>Datenbank Web Service</ServiceLocation>
      <ServiceName>Anzahl erstellte Objekte - Total</ServiceName>
      <AutoUpdate>false</AutoUpdate>
      <UpdateInterval>5</UpdateInterval>
      <Legend>false</Legend>
      <Labels>true</Labels>
      <ValueAsPercent>false</ValueAsPercent>
    </MonitorControlProperties>
  </PersistentPanel>
  <PersistentPanel>
    <PanelId>f4bd72f1-24ee-47e1-b68c-16f255378a34</PanelId>
    <MonitorControlProperties xsi:type="MonitorControlStatisticsProperties">
      <ServiceLocation>Datenbank Web Service</ServiceLocation>
      <ServiceName>Anzahl erstellte Objekte - Heute</ServiceName>
      <AutoUpdate>false</AutoUpdate>
      <UpdateInterval>5</UpdateInterval>
      <Legend>false</Legend>
      <Labels>true</Labels>
      <ValueAsPercent>false</ValueAsPercent>
    </MonitorControlProperties>
  </PersistentPanel>
  <PersistentPanel>
    <PanelId>12a35751-6a63-48b3-a7e7-1553e0013c7f</PanelId>
    <MonitorControlProperties xsi:type="MonitorControlUsersProperties">
      <ServiceLocation>Datenbank Web Service</ServiceLocation>
    </MonitorControlProperties>
  </PersistentPanel>
  <PersistentPanel>
    <PanelId>adf1d05c-f95c-46c1-90ef-8db922f1e435</PanelId>
    <MonitorControlProperties xsi:type="MonitorControlStatisticsProperties">
      <ServiceLocation>Datenbank Web Service</ServiceLocation>
      <ServiceName>Anzahl betrachtete Objekte - Total</ServiceName>
      <AutoUpdate>false</AutoUpdate>
      <UpdateInterval>5</UpdateInterval>
      <Legend>false</Legend>
      <Labels>true</Labels>
      <ValueAsPercent>false</ValueAsPercent>
    </MonitorControlProperties>
  </PersistentPanel>
  <PersistentPanel>
    <PanelId>fef0a8ff-c6ed-4459-ad73-c81688ce394b</PanelId>
    <MonitorControlProperties xsi:type="MonitorControlStatisticsProperties">
      <ServiceLocation>Datenbank Web Service</ServiceLocation>
      <ServiceName>Anzahl betrachtete Objekte - Heute</ServiceName>
      <AutoUpdate>false</AutoUpdate>
      <UpdateInterval>5</UpdateInterval>
      <Legend>false</Legend>
      <Labels>true</Labels>
      <ValueAsPercent>false</ValueAsPercent>
    </MonitorControlProperties>
  </PersistentPanel>
  <PersistentPanel>
    <PanelId>423de076-dcc0-4e3c-955a-2ae59e83d4ca</PanelId>
    <MonitorControlProperties xsi:type="MonitorControlContentEditProperties">
      <ServiceLocation>Datenbank Web Service</ServiceLocation>
    </MonitorControlProperties>
  </PersistentPanel>
  <PersistentPanel>
    <PanelId>0b1ac6b5-57ab-4e8e-bbe7-e9ebda890dc7</PanelId>
    <MonitorControlProperties xsi:type="MonitorControlFeaturedContentEditProperties">
      <ServiceLocation>Datenbank Web Service</ServiceLocation>
    </MonitorControlProperties>
  </PersistentPanel>
  <PersistentPanel>
    <PanelId>849a2cee-e30f-4a4e-9720-afde43935209</PanelId>
    <MonitorControlProperties xsi:type="MonitorControlAdCampaignsProperties">
      <ServiceLocation>Datenbank Web Service</ServiceLocation>
    </MonitorControlProperties>
  </PersistentPanel>
</ArrayOfPersistentPanel>