<?xml version="1.0" encoding="utf-8"?>
<CSBoosterMonitorProperties xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
  <DatabaseServiceUrl>http://CSBooster.MonitorService/Service.asmx</DatabaseServiceUrl>
  <VideoConverterServiceUrl>http://CSBooster.MonitorService/Service.asmx</VideoConverterServiceUrl>
  <VideoConverter2ServiceUrl>http://CSBooster.MonitorService/Service.asmx</VideoConverter2ServiceUrl>
  <FormPosition>
    <X>132</X>
    <Y>44</Y>
  </FormPosition>
  <FormSize>
    <Width>1335</Width>
    <Height>855</Height>
  </FormSize>
  <WindowState>Normal</WindowState>
</CSBoosterMonitorProperties>