<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="CSBoosterConnectionString" connectionString="Data Source=4sappl02.INTRANET.4screen.local\SQL2005;Initial Catalog=CSBooster;Persist Security Info=True;User ID=CSBooster_User;Password=cs-booster;Connect Timeout=60;enlist=false;Asynchronous Processing=true" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <!-- Root Path-->
    <add key="ConverterRootPath" value="\\csbmedia\csbooster" />
    <!-- Local Convert Target Path-->
    <add key="ConverterLocalPathTarget" value="C:\Temp\CSBooster.VideoConverterService\Target" />
    <!--MediaDomain Name 4 the Image Handler-->
    <add key="MediaDomainName" value="http://MediaLocal" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>