<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="BugReportMail" value="imb@online.ch"/>
    <add key="ServiceName" value="CSBooster Video Encoding - 4.0.0.0"/>
    <add key="ServiceLogName" value="CSBooster"/>
    <add key="ServiceLogSourceName" value="VideoEncoding"/>
    <add key="CheckIntervalSecond" value="30"/>

    <add key="FFMpegExecutable" value="c:\CSBoosterServices\ffmpeg\ffmpeg.exe" />
    <add key="ConverterRootPath" value="\\testserver\csbooster" />
    <add key="ConverterRootPathMedia" value="\\testserver\csbooster\Media"/>
    <add key="MediaDomainName" value="http://sieme.local.media" />
    <add key="TemporaryConversionFolder" value="C:\temp"/>
    <add key="ActionProfile" value="ConvertToAll"/>


    <add key="GenerateMultipleThumbnails" value="false"/>
    <add key="NumberThumbnails" value="5"/>
    <add key="MaxThumbnailGenerationTime" value="10000"/>

    <add key="ArchiveUpload" value="true"/>
    <add key="UseAmazoneS3" value="false"/>
    <add key="AmazoneS3BucketLocation" value="US"/>
    <add key="AmazoneS3AKey" value="0X3WDRGCCG09ESSB5MR2"/>
    <add key="AmazoneS3SAKey" value="LQp36LZLYsgpT13iG1aAfgJwKy7k+JlEkVLw3qba"/>
    <add key="AmazoneS3Bucket" value="sssmedia"/>
  </appSettings>
  <connectionStrings>
    <add name="CSBoosterConnectionString" connectionString="Data Source=4sappl02.INTRANET.4screen.local\SQL2005;Initial Catalog=CSBooster.4.0.0.0;Persist Security Info=True;User ID=CSBooster_User;Password=cs-booster;Connect Timeout=60;enlist=false;Asynchronous Processing=true;Pooling=true;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.net>
    <mailSettings>
      <smtp from="sieme.net &lt;info@sieme.net&gt;">
        <network host="mail.ocx.ch" password="" userName=""/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
