<?xml version="1.0" encoding="utf-8" ?>
<root>
	<!-- Definitionen für das Rating (ganze Site) -->
	<Rating Type="Standard">
        <AllowAnonymous>True</AllowAnonymous>
        
		<MinPoint>1</MinPoint>
		<MaxPoint>5</MaxPoint>

		<!-- 
        TimeSpan: Definiert den Zeitraum der vergehen muss damit ein user ein objekt erneut raten kann
        
        minimum: 00:00:00 -> es ist nur ein einziges rating pro user/objekt möglich
        maximum: hhhh:mm:ss -> zeitraum befor wieder ein rating berechnet wird
    -->
		<TimeSpan>00:00:00</TimeSpan>

		<RoleMultiplier Role="Basic" url="*">1</RoleMultiplier>
		<RoleMultiplier Role="Expert" url="*">1</RoleMultiplier>
		<RoleMultiplier Role="Premimum" url="*">1</RoleMultiplier>
		<RoleMultiplier Role="Admin" url="*">1</RoleMultiplier>


		<!--
		Mit diesem Faktor wird definiert wievil Einfluss die Anzahl Ratings auf den RatedConsolidated Wert hat:
		Dabei gilt: Je grösser dieser Wert ist desto wichtiger wird die Anzahl Ratings auf das Ergebinss.
		Gültige Wertbereiche sind: 0.001 bis 1000.000
		
		W I C H T I G:
		Wird dieser Wert geändert so muss unbedingt die Store procedure 'hisp_DataObject_Initialize_RatedConsolidated'
		angepasst und ausgeführt werden
	-->
		<RatedConsolidatedFactor>1.1</RatedConsolidatedFactor>

	</Rating>

	<RatingQuickSort>
		<QuickSort Cty="*">RatedAverage</QuickSort>
		<QuickSort Cty="27722f5f-f694-493e-b8db-02ac7c2b1d83">RatedConsolidated</QuickSort>  <!-- Slam-Movie-Night -->
	</RatingQuickSort>

	<!-- Definitionen für das Viewing (ganze Site) -->
	<View>
		<!-- 
        UserTimeSpan: Definiert den Zeitraum der vergehen muss damit ein objekt erneut ein view gezählt wird (pro User)
        minimum: 00:00:00 -> es ist nur ein view pro user und objekt möglich
        maximum: hhhh:mm:ss -> zeitraum bevor wieder ein view berechnet wird
      -->
		<UserTimeSpan>00:05:00</UserTimeSpan>

      <!-- 
        IPTimeSpan: Definiert den Zeitraum der vergehen muss damit ein objekt erneut ein view gezählt wird (pro IP)
        minimum: 00:00:00 -> es ist nur ein view pro ip und objekt möglich
        maximum: hhhh:mm:ss -> zeitraum bevor wieder ein view berechnet wird
      -->
      <IPTimeSpan>00:00:30</IPTimeSpan>
	</View>

	<!-- Default SmallImage definitionen pro Objekttyp -->
	<DefaultImages>
		<URLImageSmall>/DefMedia/DataObjectImageSmall.gif</URLImageSmall>
		<Picture>
			<URLImageSmall>/DefMedia/DataObjectPictureImageSmall.gif</URLImageSmall>
		</Picture>
		<User>
			<URLImageSmall>/DefMedia/DataObjectUserImageSmall.gif</URLImageSmall>
		</User>
		<Audio>
			<URLImageSmall>/DefMedia/DataObjectAudioImageSmall.gif</URLImageSmall>
		</Audio>
		<Video>
			<URLImageSmall>/DefMedia/DataObjectVideoImageSmall.gif</URLImageSmall>
		</Video>
		<Event>
			<URLImageSmall>/DefMedia/DataObjectEventImageSmall.gif</URLImageSmall>
		</Event>
		<Community>
			<URLImageSmall>/DefMedia/DataObjectCommunityImageSmall.gif</URLImageSmall>
		</Community>
		<Article>
			<URLImageSmall>/DefMedia/DataObjectArticleImageSmall.gif</URLImageSmall>
		</Article>
	</DefaultImages>

	<AgilityPositions>
		<!-- DayCount: wieviele Tage zurück sollen in die Agility Berechnung berücksichtigt werden -->
		<DayCount>-5</DayCount>
		<!-- Agility_X: X = Position; Value = mindest Anzahl IncentivePoints um dies Position zu erreichen -->
		<Agility_1>0.001</Agility_1>
		<Agility_2>10</Agility_2>
		<Agility_3>20</Agility_3>
		<Agility_4>30</Agility_4>
		<Agility_5>50</Agility_5>
		<Agility_6>70</Agility_6>
		<Agility_7>90</Agility_7>
		<Agility_8>110</Agility_8>
		<Agility_9>130</Agility_9>
		<Agility_10>150</Agility_10>
	</AgilityPositions>

	<EmphasisPercent>
		<!--Minimum-Anzahl der Objekte pro Typ um ins Ranking zu kommen-->
		<Threshold ObjectType="Picture">15</Threshold>
		<Threshold ObjectType="Video">15</Threshold>
		<Threshold ObjectType="Audio">10</Threshold>
		<Threshold ObjectType="Article">3</Threshold>
		<Threshold ObjectType="Forum">2</Threshold>
		<Threshold ObjectType="ForumTopic">5</Threshold>
		<Threshold ObjectType="ForumTopicItem">20</Threshold>
	</EmphasisPercent>

	<ExcludeUser>
		<!--
			Diese User werden bei folgenden Quicks unterdrückt:
			- DataObjectUsers.LoadBest()
			- DataObjectUsers.Load(....) mit QuickSort.Viewed und QuickSortDirection.Desc
		  -->
		<User>Marcel</User>
		<User>Philippxx</User>

	</ExcludeUser>

	<!-- Zeit in HH:MM:SS innerhal welcher der User aktiv sein musste um als Online zu gelten -->
	<UserOnlineTimeGap>00:10:00</UserOnlineTimeGap>
	<!-- Wieviel Zeit darf vergehen bis der LastActivityDate in der DB wieder frisch geschreiben werden soll 
	(MACHT NUR SINN WENN ES KLEINER ALS DER UserOnlineTimeGap IST )-->
	<LastActivityDateUpdateTimeGap>00:8:00</LastActivityDateUpdateTimeGap>
	<!-- Globale Einstellung ob ein QuickObjekt aus dem DBCache gelsesen weden soll -->
	<IsDBCacheActiv>False</IsDBCacheActiv>
	
	<DefaultCachingTiem>00:01:00</DefaultCachingTiem>

	<!-- maximal 31 Rollen inkl 'ANONYMOUS' -->
	<ObjectRoleRightMapping>
		<Role Name="ANONYMOUS">1</Role>	
		<Role Name="Admin">2</Role>
		<Role Name="Basic">4</Role>
		<Role Name="Expert">8</Role>
		<Role Name="Premium">16</Role>
        <!--
        <Role Name="not set">64</Role>
		<Role Name="not set">128</Role>
		<Role Name="not set">256</Role>
		<Role Name="not set">512</Role>
		<Role Name="not set">1024</Role>
		<Role Name="not set">2048</Role>
		<Role Name="not set">4096</Role>
		<Role Name="not set">8192</Role>
		<Role Name="not set">16384</Role>
		<Role Name="not set">32768</Role>
		<Role Name="not set">65536</Role>
		<Role Name="not set">131072</Role>
		<Role Name="not set">262144</Role>
		<Role Name="not set">524288</Role>
		<Role Name="not set">1048576</Role>
		<Role Name="not set">2097152</Role>
		<Role Name="not set">4194304</Role>
		<Role Name="not set">8388608</Role>
		<Role Name="not set">16777216</Role>
		<Role Name="not set">33554432</Role>
		<Role Name="not set">67108864</Role>
		<Role Name="not set">134217728</Role>
		<Role Name="not set">268435456</Role>
		<Role Name="not set">536870912</Role>
		<Role Name="not set">1073741824</Role>
		-->
	</ObjectRoleRightMapping>

    <UserActivitySettings>
        <MaximalAmount>100</MaximalAmount>      <!-- definiert die maximale anzahl Activities die angezeigt werden, unabhängig ob noch mehr vorhanden wären-->
        
        <!-- 
        <ValidUntil>HHHH:MM:SS</ValidUntil> die definiert wie lange ein Eintrag sichtbar ist  
        Der Wert 00:00:00 definiert das die ganze Funktion 'UserActivity' im ganzen oder eine Einzelne 'Activity' inaktiv ist
        -->
        <Default>
            <ValidUntil>744:00:00</ValidUntil>            <!-- 31 Tag zu 24 Stunden -->
        </Default>
        <!--<DoNowThis>
            <ValidUntil>24:00:00</ValidUntil>
        </DoNowThis>
        <IsNowOnline>
            <ValidUntil>01:00:00</ValidUntil>
        </IsNowOnline>-->
        <!--<HasRatedObject>
            <ValidUntil>00:00:00</ValidUntil>
        </HasRatedObject>-->
        <!--<IsNowNotMember>
            <ValidUntil>00:00:00</ValidUntil>
        </IsNowNotMember>-->
    </UserActivitySettings>

    <ObjectFeaturedValues>
        <ObjectFeaturedValue Value="0" Title="Unbekannte Priorität"/>
        <ObjectFeaturedValue Value="1" Title="Höchste Priorität"/>
        <ObjectFeaturedValue Value="2" Title="Mittlere Priorität"/>
        <ObjectFeaturedValue Value="3" Title="Niedrige Priorität"/>
    </ObjectFeaturedValues>

    <!-- 
        Umlaut-Mapping
        Wichtig: die Key's müssen in Lower-Case erfasst sein!
     -->
    <CharacterDieresis>
        <Char Key="a" Value="ä,à"/>
        <Char Key="c" Value="ç"/>
        <Char Key="e" Value="é,è"/>
        <Char Key="o" Value="ö"/>
        <Char Key="u" Value="ü"/>
    </CharacterDieresis>

    <!-- 
        Overrule: Kann 'Active' und/oder 'Must' überschrieben werden
    -->
    <UserAddressFields>
        <Field Name="EMail" Must="True" Active="True" Overrule="True"/>
        <Field Name="Phone" Must="True" Active="True" Overrule="True"/>
        <Field Name="Mobile" Must="True" Active="True" Overrule="True"/>
        <Field Name="Sex" Must="True" Active="True" Overrule="True"/>
        <Field Name="Name" Must="True" Active="True" Overrule="True"/>
        <Field Name="Vorname" Must="True" Active="True" Overrule="True"/>
        <Field Name="AddressStreet" Must="True" Active="True" Overrule="True"/>
        <Field Name="AddressZip" Must="True" Active="True" Overrule="True"/>
        <Field Name="AddressCity" Must="True" Active="True" Overrule="True"/>
        <Field Name="Bemerkung" Must="False" Active="True" Overrule="True"/>
    </UserAddressFields>

    <!-- Default User die als Freunde zu einem neuen User angehängt werden -->
    <UserDefaultFriends>
        <UserId>7b1be42f-3306-4f90-a2d7-ae9690bea7df</UserId>
    </UserDefaultFriends>
    
</root>
