<?xml version="1.0" encoding="utf-8" ?>
<root>
  <actionProfile Id="ConvertToFLV" ThumbnailActionId="convertToFLV">
    <defaultSettings>
      <add key="VideoWidth" value="512"/>
      <add key="VideoHeight" value="auto"/>
      <add key="VideoFrameRate" value="auto"/>
      <add key="VideoBitrate" value="600"/>
      <add key="AudioBitrate" value="128"/>
      <add key="AudioSamplingRate" value="44100"/>
      <add key="MaxDecodingTime" value="100000"/>
      <add key="EmbeddedWatermark" value="false"/>
      <add key="WatermarkImage" value="c:\CSBoosterServices\VideoConverterSieme4\watermark.png"/>
      <!--
    <add key="StartPosition" value="10"/>
    <add key="Duration" value="10"/>
     -->
    </defaultSettings>
    <action Id="convertToFLV">
      <format>FLV</format>
    </action>
  </actionProfile>
  <actionProfile Id="ConvertToAll"  ThumbnailActionId="convertToFLV_Larger">
    <defaultSettings>
      <add key="VideoWidth" value="512"/>
      <add key="VideoHeight" value="auto"/>
      <add key="VideoFrameRate" value="auto"/>
      <add key="VideoBitrate" value="600"/>
      <add key="AudioBitrate" value="128"/>
      <add key="AudioSamplingRate" value="44100"/>
      <add key="MaxDecodingTime" value="100000"/>
      <add key="EmbeddedWatermark" value="true"/>
      <add key="WatermarkImage" value="c:\CSBoosterServices\VideoConverterSieme4\watermark.png"/>
    </defaultSettings>
    <action Id="convertToWMV">
      <format VideoVersion="L">WMV</format>
      <settings>
        <add key="VideoWidth" value="512"/>
        <add key="VideoHeight" value="auto"/>
        <add key="VideoFrameRate" value="auto"/>
        <add key="VideoBitrate" value="600"/>
        <add key="AudioBitrate" value="128"/>
        <add key="AudioSamplingRate" value="44100"/>
        <add key="MaxDecodingTime" value="100000"/>
      </settings>
    </action>
    <action Id="convertToMPG">
      <format VideoVersion="L">MPG</format>
    </action>
    <action Id="convertToMP4L">
      <format VideoVersion="L">MP4</format>
    </action>
    <action Id="convertToMOV_large">
      <format VideoVersion="L">MOV</format>
    </action>
    <action Id="convertToM4V">
      <format VideoVersion="L">M4V</format>
    </action>
    <action Id="convertToFLV_Larger">
      <format VideoVersion="L">FLV</format>
    </action>
    <action Id="convertToFLV_Medium">
      <format VideoVersion="M">FLV</format>
    </action>
    <action Id="convertToFLV">
      <format>FLV</format>
    </action>
    <action Id="convertToAVI">
      <format>AVI</format>
    </action>
    <action Id="convertTo3GP">
      <format>3GP</format>
    </action>
  </actionProfile>

</root>