<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="securitySection" type="_4screen.CSB.Common.SecuritySection, CSBooster.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <securitySection>
        <securityAreas>
            <securityArea id="MyContentSearchAllCommunities" roles="Editor,Admin" />
            <securityArea id="DataObjectShowStateEdit" roles="Editor,Admin" />
            <securityArea id="DataObjectFeaturedEdit" roles="Editor,Admin" />
            <securityArea id="DataObjectUpdate" roles="Editor,Admin" />
            <securityArea id="DataObjectDelete" roles="Editor,Admin" />
            <securityArea id="DataObjectInsert" roles="Editor,Admin" />
        </securityAreas>
    </securitySection>
</configuration>
