<?xml version="1.0" encoding="utf-8" ?>
<sets>
	<set name="Preinitial">
		<url name="a">/CSBooster.WebUI/Library/Scripts/common.js</url>
		<url name="b">/CSBooster.WebUI/Library/Scripts/BrowserDetection.js</url>
	</set>
	<set name="initial">
		<url name="c">/CSBooster.WebUI/WebResource.axd?d=ggpmgvdK2Ld64tDilN9ePg2&amp;amp;t=633351004200000000</url>
		<url name="d">/CSBooster.WebUI/ScriptResource.axd?d=8ghjgMoip6jyZC7HPVodCOI-5ZX3x5a83Z5rXnW7cNZrNlstVsTvY9DQPicqlsgWB6uOe0MXK3Qca-81NHo_Eb6eHlZQrfa2TrbirLmXIEQ1&amp;amp;t=633318462894763317</url>
	</set>
	<set name="post">
		<url name="A">/CSBooster.WebUI/ScriptResource.axd?d=8ghjgMoip6jyZC7HPVodCOI-5ZX3x5a83Z5rXnW7cNZrNlstVsTvY9DQPicqlsgWsJJlSDb5HX9sKFUDXOF-nP_zTyHuBSqGoJiw1FR7GJl0dyUyq1bhGx-3T2SVxqYw0&amp;amp;t=633318462894763317</url>
		<url name="B">/CSBooster.WebUI/ScriptResource.axd?d=_Ldh3DAVkOa4Y6HdsWTikGpFhc068O6Hd4swHGxC_YDJEEOR9WQsjt7etdlsLMxF0&amp;amp;t=633523224580000000</url>
      <url name="C">/CSBooster.WebUI/ScriptResource.axd?d=_Ldh3DAVkOa4Y6HdsWTikGpFhc068O6Hd4swHGxC_YAnKrOEZX9sVNlvz8cpCokDsQCBlPyYuxS9bKp66PqN9g&amp;amp;t=633523224580000000</url>
      <url name="D">/CSBooster.WebUI/ScriptResource.axd?d=_Ldh3DAVkOa4Y6HdsWTikDak4K5VlQWGOF-jkDCbEN4QNboXdyKwrvKI_lqbEKCZj5B2riQk7z_TLxJdyytwUg2&amp;amp;t=633523224580000000</url>
      <url name="E">/CSBooster.WebUI/ScriptResource.axd?d=_Ldh3DAVkOa4Y6HdsWTikDak4K5VlQWGOF-jkDCbEN62p-uOZ_IcLX0VIZW4QaIWWHr_lWHUyDCpJr-u5GHpcg2&amp;amp;t=633523224580000000</url>
   </set>
</sets>
