<?xml version="1.0" encoding="utf-8" ?>
<Root>
  <!--All estimates for 1024 KB of data-->
  <EstimatedTime Extension=".jpg">5.4</EstimatedTime>
  <EstimatedTime Extension=".mpeg">5.4</EstimatedTime>
  <EstimatedTime Extension=".mpg">5.4</EstimatedTime>
  <EstimatedTime Extension=".vmv">5.4</EstimatedTime>
  <EstimatedTime Extension=".avi">5.4</EstimatedTime>
  <EstimatedTime Extension=".mov">5.4</EstimatedTime>
  <EstimatedTime Extension="default">5</EstimatedTime>
</Root>