<?xml version="1.0" encoding="utf-8" ?>
<Copyrights Visible="true">
	<Copyright Value="0" Name="Kein Copyright"></Copyright>
	<Copyright Value="1" Name="Verwendung mit Urheber-Nennung"></Copyright>
	<Copyright Value="2" Name="Verwendung nicht kommerziell + Urheber-Nennung"></Copyright>
	<Copyright Value="3" Name="Keine Weiterverwendung erlaubt" Selected="true"></Copyright>
</Copyrights>
