<?xml version="1.0"?>
<configuration>
    <configSections>
        <section name="customizationSection" type="_4screen.CSB.Common.CustomizationSection, CSBooster.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <customizationSection>
        <common breadCrumbUserOrCommunityEnabled="true" titleFormat1="{0} - {1}" titleFormat2="{0} - {1} - {2}" titleFormat3="{0} - {1} - {2} - {3}" />
        <customizationBar enabled="true" pageAddEnabled="true" pageUpdateEnabled="true">
            <customizationTab id="Widgets" enabled="true" />
            <customizationTab id="Layout" enabled="true" />
            <customizationTab id="Theme" enabled="true" />
            <customizationTab id="Style" enabled="true" />
            <customizationTab id="Content" enabled="false" />
        </customizationBar>
        <profile>
            <profileSettings id="ChangePassword" enabled="true" />
            <profileSettings id="Permalink" enabled="true" />
            <profileSettings id="ShowAds" enabled="true" />
            <profileSettings id="UILanguage" enabled="true" />
            <profileSettings id="UserPoints" enabled="true" />
            <profileSettings id="DeleteAccount" enabled="true" />
            <profileSettings id="PictureColors" enabled="true" />
            <profileSettings id="Picture" enabled="true" />
            <profileSettings id="Colors" enabled="true" />
            <profileSettings id="Name" enabled="true" />
            <profileSettings id="Surname" enabled="true" />
            <profileSettings id="Lastname" enabled="true" />
            <profileSettings id="GenderBirthday" enabled="true" />
            <profileSettings id="Gender" enabled="true" />
            <profileSettings id="Birthday" enabled="true" />
            <profileSettings id="UserLocation" enabled="true" />
            <profileSettings id="Address" enabled="true" />
            <profileSettings id="Country" enabled="true" />
            <profileSettings id="Language" enabled="true" />
            <profileSettings id="Personal" enabled="true" />
            <profileSettings id="PersonalRelationship" enabled="true" />
            <profileSettings id="PersonalAttractedTo" enabled="true" />
            <profileSettings id="PersonalEyeColor" enabled="true" />
            <profileSettings id="PersonalHairColor" enabled="true" />
            <profileSettings id="PersonalBodyHeight" enabled="true" />
            <profileSettings id="PersonalBodyWeight" enabled="true" />
            <profileSettings id="Email" enabled="true" />
            <profileSettings id="Phone" enabled="true" />
            <profileSettings id="PhonenumberMobile" enabled="true" />
            <profileSettings id="PhonenumberLandline" enabled="true" />
            <profileSettings id="Communication" enabled="true" />
            <profileSettings id="CommunicationMSN" enabled="true" />
            <profileSettings id="CommunicationYahoo" enabled="true" />
            <profileSettings id="CommunicationSkype" enabled="true" />
            <profileSettings id="CommunicationICQ" enabled="true" />
            <profileSettings id="CommunicationAIM" enabled="true" />
            <profileSettings id="Web" enabled="true" />
            <profileSettings id="Homepage" enabled="true" />
            <profileSettings id="Blog" enabled="true" />
            <profileSettings id="JobTalents" enabled="true" />
            <profileSettings id="Job" enabled="true" />
            <profileSettings id="Slogan" enabled="true" />
            <profileSettings id="Interests" enabled="true" />
        </profile>
        <modules>
            <module id="Messaging" enabled="true" />
            <module id="Friends" enabled="true" />
            <module id="Comments" enabled="true" />
            <module id="Alerts" enabled="true" />
            <module id="Favorites" enabled="true" />
            <module id="Memberships" enabled="true" />
            <module id="Geotagging" enabled="true" />
            <module id="MobileUI" enabled="true" />
        </modules>
        <logins>
            <login id="Facebook" enabled="true" />
            <login id="OpenID" enabled="true" />
            <login id="InfoCard" enabled="true" />
        </logins>
        <myContent featuredEditEnabled="true" deleteEvent="Delete" defaultSortOrder="StartDate" adminCommunitySelectionEnabled="true" />
        <defaultLayouts profileCommunity="Layout2b" community="Default" page="Default" />
        <contentReports localizationBaseFileName="Pages.Popups.WebUI.Base">
            <contentReport reasonKey="LabelReportRuleBreak" textKey="TextReportRuleBreak" readOnly="false" />
            <contentReport reasonKey="LabelReportUsingMyContent" textKey="TextReportUsingMyContent" readOnly="true" />
            <contentReport reasonKey="LabelReportWorried" textKey="TextReportWorried" readOnly="true" />
            <contentReport reasonKey="LabelReportSpam" textKey="TextReportSpam" readOnly="false" />
        </contentReports>
    </customizationSection>
</configuration>
