<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="mapSection" type="_4screen.CSB.Common.MapSection, CSBooster.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <mapSection>
        <maps>
            <map id="Default" width="640" height="480" zoom="8" latitude="47.05" longitude="8.3" mapLayout="SidebarAndMap" mapStyle="Aerial" mapNavigation="Normal">
                <objectTypes>
                    <objectType id="Picture" iconUrl="/library/images/map/picture.png">
                        <tags>
                            <tag id="nasa" iconUrl="/library/images/map/picture_nasa.png"/>
                            <tag id="flyer" iconUrl="/library/images/map/picture_flyer.png" selected="true"/>
                            <tag id="landscape" iconUrl="/library/images/map/picture_landscape.png"/>
                        </tags>
                    </objectType>
                    <objectType id="News" iconUrl="/library/images/map/news.png">
                        <tags>
                            <tag id="politik" iconUrl="/library/images/map/news_politik.png" selected="true"/>
                            <tag id="wirtschaft" iconUrl="/library/images/map/news_wirtschaft.png"/>
                            <tag id="sport" iconUrl="/library/images/map/news_sport.png"/>
                        </tags>
                    </objectType>
                    <objectType id="Event" iconUrl="/library/images/map/event.png">
                        <tags>
                            <tag id="EventType1" title="Konzert" iconUrl="/library/images/map/event_concert.png" selected="true"/>
                            <tag id="EventType2" title="Ausstellung" iconUrl="/library/images/map/event_exhibition.png"/>
                            <tag id="EventType3" title="Festival" iconUrl="/library/images/map/event_festival.png"/>
                        </tags>
                    </objectType>
                    <objectType id="Audio" iconUrl="/library/images/map/audio.png" selected="true" />
                </objectTypes>
            </map>
            <map id="Pictures" width="640" height="480" zoom="8" latitude="47.05" longitude="8.3" mapLayout="MapOnly" mapStyle="Aerial" mapNavigation="Normal">
                <objectTypes>
                    <objectType id="Picture" iconUrl="/library/images/map/picture.png" selected="true" />
                    <objectType id="News" iconUrl="/library/images/map/news.png">
                        <tags>
                            <tag id="politik" iconUrl="/library/images/map/news_politik.png" selected="true"/>
                            <tag id="wirtschaft" iconUrl="/library/images/map/news_wirtschaft.png"/>
                            <tag id="sport" iconUrl="/library/images/map/news_sport.png"/>
                        </tags>
                    </objectType>
                </objectTypes>
            </map>
        </maps>
    </mapSection>
</configuration>
