<?xml version="1.0" encoding="utf-8"?>
<root>
    <!--Possible attributes for Widget:
			IsFixed="True" - The Widegt may not be deleted except by the admin
			HideIfNoContent="True" -The widget schould be hidden if no content is available
			ViewRoles="Admin,Premium, anonymous" -Coma separated Roles that can view the widget.... Empty means all Roles
			WTP_ID="" ID of The Template that should be applied to the widget
			Title="Title" Title that schoul be applied to the Widget. Empty or non existent means the Widget Name will be used for the Title
            OutputTemplate= Template das geladen werden soll (siehe 'OutputTemplates.config')
            LocalizationBaseFileName=Language file mit Widget Titel
            TitleKey=Titel des Widgets
	-->
    <Community pageType="Profile" page="Private">
        <Column number="0">
            <!-- Dashboard -->
            <widget id="881023de-b2d9-41d9-b0f7-dcce7f310f5c" IsFixed="true"/>
        </Column>
        <Column number="1">
            <!-- Dashboard menu -->
            <widget id="41931308-cc21-4119-83d9-be584cc778df" IsFixed="true">
                <![CDATA[<root><Comments>True</Comments><Contents>True</Contents><Favorites>True</Favorites><Friends>True</Friends><Membership>True</Membership><Message>True</Message><Notifications>True</Notifications><Properties>True</Properties><Survey>True</Survey></root>]]>
            </widget>
        </Column>
    </Community>
    <Community pageType="Profile" page="Start">
        <Column number="0">
            <!-- Kommentare -->
            <widget id="549052d2-8305-11dc-8314-0800200c9a66"/>
        </Column>
        <Column number="1">
            <!--Funktionen-->
            <widget id="e87e95f0-b862-4801-bea7-3248199ea187" IsFixed="true"/>
            <!--Rating-->
            <widget id="6ca27112-83c0-11dc-8314-0800200c9a66" IsFixed="true"/>
        </Column>
    </Community>
    <Community pageType="Profile" page="NewPage">
        <Column number="1">
            <!--Funktionen-->
            <widget id="e87e95f0-b862-4801-bea7-3248199ea187" IsFixed="true"/>
            <!--Rating-->
            <widget id="6ca27112-83c0-11dc-8314-0800200c9a66" IsFixed="true"/>
        </Column>
    </Community>

    <Community pageType="Community" page="Start">
        <Column number="0"/>
        <Column number="1"/>
        <Column number="2">
            <!--Funktionen-->
            <widget id="e87e95f0-b862-4801-bea7-3248199ea187" IsFixed="true"/>
        </Column>
    </Community>
    <Community pageType="Community" page="NewPage">
        <Column number="0"/>
        <Column number="1"/>
        <Column number="2">
            <!--Funktionen-->
            <widget id="e87e95f0-b862-4801-bea7-3248199ea187" IsFixed="true"/>
        </Column>
    </Community>

    <Community pageType="Page" page="Start">
    </Community>
    <Community pageType="Page" page="NewPage">
    </Community>
</root>
