<filterEngine>

    <badWordFilter>
        <object type="_4screen.CSB.DataAccess.Business.DataObjectVideo">
            <property name="Title"/>
            <property name="Description"/>
            <property name="DescriptionMobile"/>
        </object>
        <object type="_4screen.CSB.DataAccess.Business.DataObjectAudio">
            <property name="Title"/>
            <property name="Description"/>
            <property name="DescriptionMobile"/>
        </object>
        <object type="_4screen.CSB.DataAccess.Business.DataObjectForum">
            <property name="Title"/>
            <property name="Description"/>
            <property name="DescriptionMobile"/>
        </object>
        <object type="_4screen.CSB.DataAccess.Business.DataObjectCommunity">
            <property name="Title"/>
            <property name="Description"/>
            <property name="DescriptionMobile"/>
        </object>
        <object type="_4screen.CSB.DataAccess.Business.DataObjectPicture">
            <property name="Title"/>
            <property name="Description"/>
            <property name="DescriptionMobile"/>
        </object>
        <object type="_4screen.CSB.DataAccess.Business.DataObjectArticle">
            <property name="Title"/>
            <property name="Description"/>
            <property name="DescriptionMobile"/>
            <property name="ArticleText"/>
        </object>
    </badWordFilter>

    <badWordFilterReporting>
        <adminEmail email="aw@4screen.ch" name="Andy Wyss"></adminEmail>
        <urlPrefix>http://localhost/CSBooster.WebUI</urlPrefix>
        <objectLink type="_4screen.CSB.DataAccess.Business.DataObjectArticle" const="NICE_LINK_TO_ARTICLE_DETAIL"/>
        <objectLink type="_4screen.CSB.DataAccess.Business.DataObjectVideo" const="NICE_LINK_TO_VIDEO_DETAIL"/>
        <objectLink type="_4screen.CSB.DataAccess.Business.DataObjectPicture" const="NICE_LINK_TO_PICTURE_DETAIL"/>
        <objectLink type="_4screen.CSB.DataAccess.Business.DataObjectAudio" const="NICE_LINK_TO_AUDIO_DETAIL"/>
        <objectLink type="_4screen.CSB.DataAccess.Business.DataObjectForum" const="NICE_LINK_TO_FORUM_DETAIL"/>
        <objectLink type="_4screen.CSB.DataAccess.Business.DataObjectCommunity" const="NICE_LINK_TO_COMMUNITY_DETAIL"/>
        <objectLink type="_4screen.CSB.DataAccess.Business.DataObjectNews" const="NICE_LINK_TO_NEWS_DETAIL"/>
        <objectLink type="Profile" const="NICE_LINK_TO_USER_DETAIL"/>
        <objectLink type="User" const="NICE_LINK_TO_USER_DETAIL"/>
        <objectLink type="_4screen.CSB.DataObj.Business.DataObjectProduct" const="NICE_LINK_TO_PRODUCT_DETAIL"/>
        <objectLink type="_4screen.CSB.DataObj.Business.DataObjectHTMLContent" const="NICE_LINK_TO_HTMLCONTENT_DETAIL"/>

    </badWordFilterReporting>

    <adWordFilter>
        <object type="_4screen.CSB.DataAccess.Business.DataObjectArticle" objectTypeId="7">
            <property name="ArticleText" linkedName="ArticleTextLinked"/>
        </object>
        <object type="_4screen.CSB.DataAccess.Business.DataObjectVideo" objectTypeId="4">
            <property name="Description" linkedName="DescriptionLinked"/>
        </object>
        <object type="_4screen.CSB.DataAccess.Business.DataObjectNews" objectTypeId="16">
            <property name="NewsText" linkedName="NewsTextLinked"/>
        </object>
        <object type="_4screen.CSB.DataObj.Business.DataObjectProduct" objectTypeId="1010">
            <property name="ProductText" linkedName="ProductTextLinked"/>
        </object>
        <object type="_4screen.CSB.DataObj.Business.DataObjectHTMLContent" objectTypeId="1020">
            <property name="Description" linkedName="DescriptionLinked"/>
        </object>
    </adWordFilter>

    <View>
        <!-- 
        UserTimeSpan: Definiert den Zeitraum der vergehen muss damit ein objekt erneut ein view gezählt wird (pro User)
        minimum: 00:00:00 -> es ist nur ein view pro user und objekt möglich
        maximum: hhhh:mm:ss -> zeitraum bevor wieder ein view berechnet wird
      -->
        <UserTimeSpan>00:05:00</UserTimeSpan>

        <!-- 
        IPTimeSpan: Definiert den Zeitraum der vergehen muss damit ein objekt erneut ein view gezählt wird (pro IP)
        minimum: 00:00:00 -> es ist nur ein view pro ip und objekt möglich
        maximum: hhhh:mm:ss -> zeitraum bevor wieder ein view berechnet wird
      -->
        <IPTimeSpan>00:00:30</IPTimeSpan>
    </View>

</filterEngine>
