<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="siteLinkSection" type="_4screen.CSB.Common.SiteLinkSection, CSBooster.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <siteLinkSection>
        <siteLinks>
            <siteLink key="LINK_TO_DEFAULT_PAGE" url="/Default.aspx?CN=Default" />
            <siteLink key="LINK_TO_AD_CAMPAIGN" url="/Pages/Other/AdCampaignRedirecter.aspx?CID=" predefinedNaviLink="False" urlTextKey="" localizationBaseFileName=""/>
            <siteLink key="LINK_TO_SITE_SEARCH" url="/Default.aspx?CN=search&amp;XCN="/>
            <siteLink key="LINK_TO_GROUP_CREATE" url="/Pages/Popups/CreateGroup.aspx?CtyID="/>
            <siteLink key="LINK_TO_REGISTRATION_PAGE" url="/Pages/Other/Wizard.aspx?WizardID=UserRegistration" predefinedNaviLink="True" urlTextKey="Registration"/>
            <siteLink key="LINK_TO_LOGIN_PAGE" url="/Default.aspx?CN=login&amp;ReturnUrl=" predefinedNaviLink="True" urlTextKey="Login"/>
            <siteLink key="LINK_TO_REGISTER_PAGE" url="/Default.aspx?CN=register&amp;ReturnUrl=" predefinedNaviLink="True" urlTextKey="Register"/>
            <siteLink key="LINK_TO_HELP_PAGE" url="/Help" predefinedNaviLink="True" urlTextKey="Help"/>
            <siteLink key="LINK_TO_CONTACT_PAGE" url="/Contact" />
            <siteLink key="LINK_TO_LOGOUT_PAGE" url="/Pages/Other/Logout.ashx" predefinedNaviLink="True" urlTextKey="Logout"/>
            <siteLink key="LINK_TO_ACTIVATEUSER_PAGE" url="/Pages/Other/ActivateUser.aspx" predefinedNaviLink="True" urlTextKey="ActivateUser"/>

            <siteLink key="LINK_TO_WIZARD" url="/Pages/Other/Wizard.aspx"/>
            <siteLink key="LINK_TO_DEFAULT_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_PAGE_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_USER_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_COMMUNITY_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_VIDEO_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_PICTURE_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_ARTICLE_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_AUDIO_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_FORUM_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_FORUM_TOPIC_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_SLIDESHOW_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_FOLDER_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_EVENT_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_NEWS_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_PINBOARD_SEARCH_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_PINBOARD_OFFER_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_DOCUMENT_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_GENERIC_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_POLLQUESTION_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_LOCATION_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_SURVEY_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_PRODUCT_WIZARD" url="/Default.aspx?CN=wizard"/>
            <siteLink key="LINK_TO_HTMLCONTENT_WIZARD" url="/Default.aspx?CN=wizard"/>

            <siteLink key="LINK_TO_PAGE_DETAIL" url="/Default.aspx?CN="/>
            <siteLink key="LINK_TO_USER_DETAIL" url="/Default.aspx?UI="/>
            <siteLink key="LINK_TO_COMMUNITY_DETAIL" url="/Default.aspx?CN="/>
            <siteLink key="LINK_TO_VIDEO_DETAIL" url="/Default.aspx?CN=video&amp;OT=Video&amp;OID="/>
            <siteLink key="LINK_TO_PICTURE_DETAIL" url="/Default.aspx?CN=picture&amp;OT=Picture&amp;OID="/>
            <siteLink key="LINK_TO_ARTICLE_DETAIL" url="/Default.aspx?CN=blog&amp;OT=Article&amp;OID="/>
            <siteLink key="LINK_TO_AUDIO_DETAIL" url="/Default.aspx?CN=audio&amp;OT=Audio&amp;OID="/>
            <siteLink key="LINK_TO_FORUM_DETAIL" url="/Default.aspx?CN=forum&amp;OT=Forum&amp;OID="/>
            <siteLink key="LINK_TO_FORUM_TOPIC_DETAIL" url="/Default.aspx?CN=forumtopic&amp;OT=ForumTopic&amp;OID="/>
            <siteLink key="LINK_TO_SLIDESHOW_DETAIL" url="/Default.aspx?CN=slideshow&amp;OT=Slideshow&amp;OID="/>
            <siteLink key="LINK_TO_FOLDER_DETAIL" url="/Default.aspx?CN=folder&amp;OT=Folder&amp;OID="/>
            <siteLink key="LINK_TO_EVENT_DETAIL" url="/Default.aspx?CN=event&amp;OT=Event&amp;OID="/>
            <siteLink key="LINK_TO_NEWS_DETAIL" url="/Default.aspx?CN=newsdet&amp;OT=News&amp;OID="/>
            <siteLink key="LINK_TO_PINBOARD_SEARCH_DETAIL" url="/Default.aspx?CN=request&amp;OT=PinboardSearch&amp;OID="/>
            <siteLink key="LINK_TO_PINBOARD_OFFER_DETAIL" url="/Default.aspx?CN=offer&amp;OT=PinboardOffer&amp;OID="/>
            <siteLink key="LINK_TO_DOCUMENT_DETAIL" url="/Default.aspx?CN=document&amp;OT=Document&amp;OID="/>
            <siteLink key="LINK_TO_GENERIC_DETAIL" url="/Default.aspx?CN=generic&amp;OT=Generic&amp;OID="/>
            <siteLink key="LINK_TO_POLLQUESTION_DETAIL" url="/Default.aspx?CN=poll&amp;OT=PollQuestion&amp;OID="/>
            <siteLink key="LINK_TO_LOCATION_DETAIL" url="/Default.aspx?CN=location&amp;OT=Location&amp;OID="/>
            <siteLink key="LINK_TO_SURVEY_DETAIL" url="/Default.aspx?CN=survey&amp;OT=Survey&amp;OID="/>
            <siteLink key="LINK_TO_PRODUCT_DETAIL" url="/Default.aspx?CN=product&amp;OT=Product&amp;OID="/>
            <siteLink key="LINK_TO_HTMLCONTENT_DETAIL" url="/Default.aspx?CN=content&amp;OT=HTMLContent&amp;OID="/>

            <siteLink key="NICE_LINK_TO_PAGE_DETAIL" url="/"/>
            <siteLink key="NICE_LINK_TO_USER_DETAIL" url="/user/"/>
            <siteLink key="NICE_LINK_TO_COMMUNITY_DETAIL" url="/community/"/>
            <siteLink key="NICE_LINK_TO_VIDEO_DETAIL" url="/video/"/>
            <siteLink key="NICE_LINK_TO_PICTURE_DETAIL" url="/picture/"/>
            <siteLink key="NICE_LINK_TO_ARTICLE_DETAIL" url="/blog/"/>
            <siteLink key="NICE_LINK_TO_AUDIO_DETAIL" url="/audio/"/>
            <siteLink key="NICE_LINK_TO_FORUM_DETAIL" url="/forum/"/>
            <siteLink key="NICE_LINK_TO_FORUM_TOPIC_DETAIL" url="/forumtopic/"/>
            <siteLink key="NICE_LINK_TO_SLIDESHOW_DETAIL" url="/slideshow/"/>
            <siteLink key="NICE_LINK_TO_FOLDER_DETAIL" url="/folder/"/>
            <siteLink key="NICE_LINK_TO_EVENT_DETAIL" url="/event/"/>
            <siteLink key="NICE_LINK_TO_NEWS_DETAIL" url="/newsdet/"/>
            <siteLink key="NICE_LINK_TO_PINBOARD_SEARCH_DETAIL" url="/request/"/>
            <siteLink key="NICE_LINK_TO_PINBOARD_OFFER_DETAIL" url="/offer/"/>
            <siteLink key="NICE_LINK_TO_DOCUMENT_DETAIL" url="/document/"/>
            <siteLink key="NICE_LINK_TO_GENERIC_DETAIL" url="/generic/"/>
            <siteLink key="NICE_LINK_TO_POLLQUESTION_DETAIL" url="/poll/"/>
            <siteLink key="NICE_LINK_TO_LOCATION_DETAIL" url="/location/"/>
            <siteLink key="NICE_LINK_TO_SURVEY_DETAIL" url="/survey/"/>
            <siteLink key="NICE_LINK_TO_PRODUCT_DETAIL" url="/product/"/>
            <siteLink key="NICE_LINK_TO_HTMLCONTENT_DETAIL" url="/content/"/>

            <siteLink key="NICE_LINK_TO_FORUM_MOBILE_DETAIL" url="/mobile/forum/"/>
            <siteLink key="NICE_LINK_TO_FORUM_TOPIC_MOBILE_DETAIL" url="/mobile/forumtopic/"/>
            <siteLink key="NICE_LINK_TO_VIDEO_MOBILE_DETAIL" url="/mobile/video/"/>
            <siteLink key="NICE_LINK_TO_PICTURE_MOBILE_DETAIL" url="/mobile/foto/"/>
            <siteLink key="NICE_LINK_TO_EVENT_MOBILE_DETAIL" url="/mobile/event/"/>
            <siteLink key="NICE_LINK_TO_LOCATION_MOBILE_DETAIL" url="/mobile/location/"/>
            
            <siteLink key="NICE_LINK_TO_VIDEO_MOBILE_OVERVIEW" url="/mobile/videos"/>
            <siteLink key="NICE_LINK_TO_PICTURE_MOBILE_OVERVIEW" url="/mobile/fotos"/>
            <siteLink key="NICE_LINK_TO_EVENT_MOBILE_OVERVIEW" url="/mobile/events"/>
            <siteLink key="NICE_LINK_TO_LOCATION_MOBILE_OVERVIEW" url="/mobile/locations"/>

            <siteLink key="LINK_TO_PAGE_OVERVIEW" url="/Default.aspx?CN=pages&amp;XCN=&amp;OT=Page"/>
            <siteLink key="LINK_TO_USER_OVERVIEW" url="/Default.aspx?CN=users&amp;XCN=&amp;OT=User"/>
            <siteLink key="LINK_TO_COMMUNITY_OVERVIEW" url="/Default.aspx?CN=communities&amp;XCN=&amp;OT=Community"/>
            <siteLink key="LINK_TO_VIDEO_OVERVIEW" url="/Default.aspx?CN=videos&amp;XCN=&amp;OT=Video"/>
            <siteLink key="LINK_TO_PICTURE_OVERVIEW" url="/Default.aspx?CN=pictures&amp;XCN=&amp;OT=Picture"/>
            <siteLink key="LINK_TO_ARTICLE_OVERVIEW" url="/Default.aspx?CN=blogs&amp;XCN=&amp;OT=Article"/>
            <siteLink key="LINK_TO_AUDIO_OVERVIEW" url="/Default.aspx?CN=audios&amp;XCN=&amp;OT=Audio"/>
            <siteLink key="LINK_TO_SLIDESHOW_OVERVIEW" url="/Default.aspx?CN=slideshows&amp;XCN=&amp;OT=Slideshow"/>
            <siteLink key="LINK_TO_FORUM_OVERVIEW" url="/Default.aspx?CN=forums&amp;XCN=&amp;OT=Forum"/>
            <siteLink key="LINK_TO_FORUM_TOPIC_OVERVIEW" url="/Default.aspx?CN=forumtopics&amp;XCN=&amp;OT=ForumTopic"/>
            <siteLink key="LINK_TO_FOLDER_OVERVIEW" url="/Default.aspx?CN=folders&amp;XCN=&amp;OT=Folder"/>
            <siteLink key="LINK_TO_EVENT_OVERVIEW" url="/Default.aspx?CN=events&amp;XCN=&amp;OT=Event"/>
            <siteLink key="LINK_TO_NEWS_OVERVIEW" url="/Default.aspx?CN=news&amp;XCN=&amp;OT=News"/>
            <siteLink key="LINK_TO_PINBOARD_SEARCH_OVERVIEW" url="/Default.aspx?CN=requests&amp;XCN=&amp;OT=PinboardSearch"/>
            <siteLink key="LINK_TO_PINBOARD_OFFER_OVERVIEW" url="/Default.aspx?CN=offers&amp;XCN=&amp;OT=PinboardOffer"/>
            <siteLink key="LINK_TO_DOCUMENT_OVERVIEW" url="/Default.aspx?CN=documents&amp;XCN=&amp;OT=Document"/>
            <siteLink key="LINK_TO_GENERIC_OVERVIEW" url="/Default.aspx?CN=generics&amp;XCN=&amp;OT=Generic"/>
            <siteLink key="LINK_TO_POLLQUESTION_OVERVIEW" url="/Default.aspx?CN=polls&amp;XCN=&amp;OT=PollQuestion"/>
            <siteLink key="LINK_TO_LOCATION_OVERVIEW" url="/Default.aspx?CN=locations&amp;XCN=&amp;OT=Location"/>
            <siteLink key="LINK_TO_SURVEY_OVERVIEW" url="/Default.aspx?CN=surveys&amp;XCN=&amp;OT=Survey"/>
            <siteLink key="LINK_TO_PRODUCT_OVERVIEW" url="/Default.aspx?CN=products&amp;XCN=&amp;OT=Product"/>
            <siteLink key="LINK_TO_HTMLCONTENT_OVERVIEW" url="/Default.aspx?CN=contents&amp;XCN=&amp;OT=HTMLContent"/>

            <siteLink key="NICE_LINK_TO_PAGE_OVERVIEW" url="/pages" predefinedNaviLink="True" urlTextKey="Pages"/>
            <siteLink key="NICE_LINK_TO_USER_OVERVIEW" url="/users" predefinedNaviLink="True" urlTextKey="Users"/>
            <siteLink key="NICE_LINK_TO_COMMUNITY_OVERVIEW" url="/communities" predefinedNaviLink="True" urlTextKey="Communities"/>
            <siteLink key="NICE_LINK_TO_VIDEO_OVERVIEW" url="/videos" predefinedNaviLink="True" urlTextKey="Videos"/>
            <siteLink key="NICE_LINK_TO_PICTURE_OVERVIEW" url="/pictures" predefinedNaviLink="True" urlTextKey="Pictures"/>
            <siteLink key="NICE_LINK_TO_ARTICLE_OVERVIEW" url="/blogs" predefinedNaviLink="True" urlTextKey="Articles"/>
            <siteLink key="NICE_LINK_TO_AUDIO_OVERVIEW" url="/audios" predefinedNaviLink="True" urlTextKey="Audio"/>
            <siteLink key="NICE_LINK_TO_SLIDESHOW_OVERVIEW" url="/slideshows" predefinedNaviLink="True" urlTextKey="Slideshows"/>
            <siteLink key="NICE_LINK_TO_FORUM_OVERVIEW" url="/forums" predefinedNaviLink="True" urlTextKey="Forums"/>
            <siteLink key="NICE_LINK_TO_FORUM_TOPIC_OVERVIEW" url="/forumtopics"/>
            <siteLink key="NICE_LINK_TO_FOLDER_OVERVIEW" url="/folders" predefinedNaviLink="True" urlTextKey="Folders"/>
            <siteLink key="NICE_LINK_TO_EVENT_OVERVIEW" url="/events" predefinedNaviLink="True" urlTextKey="Events"/>
            <siteLink key="NICE_LINK_TO_NEWS_OVERVIEW" url="/news" predefinedNaviLink="True" urlTextKey="News"/>
            <siteLink key="NICE_LINK_TO_PINBOARD_SEARCH_OVERVIEW" url="/requests"/>
            <siteLink key="NICE_LINK_TO_PINBOARD_OFFER_OVERVIEW" url="/offers"/>
            <siteLink key="NICE_LINK_TO_DOCUMENT_OVERVIEW" url="/documents" predefinedNaviLink="True" urlTextKey="Documents"/>
            <siteLink key="NICE_LINK_TO_GENERIC_OVERVIEW" url="/generics"/>
            <siteLink key="NICE_LINK_TO_POLLQUESTION_OVERVIEW" url="/polls" />
            <siteLink key="NICE_LINK_TO_LOCATION_OVERVIEW" url="/locations" />
            <siteLink key="NICE_LINK_TO_SURVEY_OVERVIEW" url="/surveys" predefinedNaviLink="True" urlTextKey="Surveys" localizationBaseFileName="DataObjectSurvey"/>
            <siteLink key="NICE_LINK_TO_PRODUCT_OVERVIEW" url="/products" predefinedNaviLink="True" urlTextKey="Products" localizationBaseFileName="DataObjectProduct"/>
            <siteLink key="NICE_LINK_TO_HTMLCONTENT_OVERVIEW" url="/contents" predefinedNaviLink="True" urlTextKey="HTMLContentPlural" localizationBaseFileName="DataObjectHTMLContent"/>

            <siteLink key="EXTERNALLINK_1" url="http://www.online.ch" predefinedNaviLink="True" urlTextKey="EXTERNALLINK_1"/>
        </siteLinks>
    </siteLinkSection>
</configuration>