<?xml version="1.0"?>
<configuration>
   <!-- MP_AllowedModules : None || OnlyMessaging || All -> in MobileSettings Enumeration
	Wenn Paramenter PARID Vorhanden, kann diese mit dem QueryParameter MPAM übersteuert werden
	MP: MobileProfile
 	-->
   <setting Key="MP_AllowedModules">All</setting>
   <!-- Header wird automatisch in einem div eigehüllt-->
   <setting Key="MP_DefaultHeader">
      <items>
            <item Device="*">
            <![CDATA[
                    <div class="headerTop">
                    <a href="/mobile" class="headerLogo"></a>
                        ##Dashboard##
                    </div>
                    <div class="headerBottom">
                        <a class="headerButton" target='_self' href="/mobile/forum/aa01aab3-1e3a-4cbd-ae1c-6da25d2f4bc5">Forum</a>
                        <a class="headerButton" target='_self' href="/mobile/events">Events</a>
                        <a class="headerButton" target='_self' href="/mobile/locations">Locations</a>
                        <a class="headerButton" target='_self' href="/mobile/fotos">Fotos</a>
                        <a class="headerButton" target='_self' href="/mobile/videos">Videos</a>
		</div>
				]]>
         </item>
      </items>
   </setting>
   <!-- Footer wird automatisch in einem div eigehüllt-->
   <setting Key="MP_DefaultFooter">
      <items>
            <item Device='*'>
            <![CDATA[
                    <a href="/M/HtmlContent.aspx?OID=6f1cf79f-1f2b-4aab-889e-00114fefd1d1">AGB</a> - <a href="/M/HtmlContent.aspx?OID=4a62fe1c-ba5e-436e-a7c0-1bb0baa8aa4e">Nutzungsbestimmungen</a> - <a href="/M/HtmlContent.aspx?OID=9152a608-bbeb-4018-ab4d-96eafc6873a3">Über MySG</a>
                ]]>
         </item>
      </items>
   </setting>
</configuration>
