<?xml version="1.0" encoding="utf-8"?>
<root>

	<SiteURL>http://localhost/CSBooster.WebUI2</SiteURL>
	<TestMode>false</TestMode>
	<TestModeFolder>c:\temp</TestModeFolder>
	
	<Event Identifier="Comment" Availably="true">
		<Global Applicable="Community,User,Page" ObjectType="Picture,Video,Audio,News"/>
		<Local Applicable="Community,User,Picture,Video,Audio,News"/>
		<Role Roles="basic" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="expert,premium" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="admin" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
	</Event>

	<Event Identifier="Rate" Availably="true">
		<Global Applicable="Community,User,Page" ObjectType="Picture,Video,Audio,News"/>
		<Local Applicable="Community,User,Picture,Video,Audio,News"/>
		<Role Roles="basic" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="expert,premium" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="admin" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
	</Event>

	<Event Identifier="NewMember" Availably="true">
		<Global Applicable="Community" ObjectType="Community"/>
		<Role Roles="basic" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="expert,premium" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="admin" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
	</Event>

	<Event Identifier="NewObject" Availably="true">
		<Global Applicable="Community,User,Page" ObjectType="Picture,Video,Audio,News"/>
		<Role Roles="basic" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="expert,premium" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="admin" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
	</Event>

	<Event Identifier="ChangeObject" Availably="true">
		<Global Applicable="Community,User,Page" ObjectType="Picture,Video,Audio,News"/>
		<Local Applicable="Community,User,Picture,Video,Audio,News"/>
		<Role Roles="basic" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="expert,premium" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="admin" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
	</Event>

	<Event Identifier="NewTopicItem" Availably="true">
		<Global Applicable="Community,User,Page" ObjectType="ForumTopic"/>
		<Local Applicable="ForumTopic"/>
		<Role Roles="basic" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="expert,premium" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="admin" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
	</Event>

	<Event Identifier="NewPhotoNote" Availably="true">
		<Global Applicable="Community,User,Page" ObjectType="Picture"/>
		<Local Applicable="Picture"/>
		<Role Roles="basic" Range="MyObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="expert,premium" Range="MyObject" Carriers="None,EMail,CSBMessage" />
		<Role Roles="admin" Range="ForeignObject" Carriers="None,EMail,CSBMessage" />
	</Event>

	<Event Identifier="Newsletter" Availably="false">
		<Global Applicable="User"/>
		<Role Roles="basic" Range="MyObject" Carriers="None,EMail" />
		<Role Roles="expert,premium" Range="MyObject" Carriers="None,EMail" />
		<Role Roles="admin" Range="MyObject" Carriers="None,EMail" />
	</Event>

	<Event Identifier="Message" Availably="false">
		<Role Roles="basic" Range="MyObject" Carriers="EMail" />
		<Role Roles="expert,premium" Range="MyObject" Carriers="EMail" />
		<Role Roles="admin" Range="MyObject" Carriers="EMail" />
	</Event>

    <Event Identifier="BirthdayNotification" Availably="true">
        <Role Roles="basic" Range="MyObject" Carriers="EMail" />
        <Role Roles="expert,premium" Range="MyObject" Carriers="EMail" />
        <Role Roles="admin" Range="MyObject" Carriers="EMail" />
    </Event>

</root>
