<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="outputTemplatesSection" type="_4screen.CSB.Common.OutputTemplatesSection, CSBooster.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <outputTemplatesSection>
        <templates>
          <!-- Search Templates-->
          <template id="20000001-ae6f-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="SearchWithGeo.ascx"/>
          <template id="20000002-ae6f-49c7-8757-d5fc23810aef" image="2.gif" repeaterControl="" outputTemplateControl="SearchWithoutGeo.ascx"/>
          <!-- Object Detail Templates-->
          <template id="00000000-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsObject.ascx"/>            
          <template id="00000001-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsPicture.ascx"/>
          <template id="00000002-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsVideo.ascx"/>
          <template id="00000003-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsAudio.ascx"/>
          <template id="00000004-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsArticle.ascx"/>
          <template id="00000005-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsDocument.ascx"/>
          <template id="00000006-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsEvent.ascx"/>
          <template id="00000007-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsFolder.ascx"/>
          <template id="00000008-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsForum.ascx"/>
          <template id="00000009-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsForumTopic.ascx"/>
          <template id="00000010-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsGeneric.ascx"/>
          <template id="00000011-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsNews.ascx"/>
          <template id="00000012-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsPinboardOffer.ascx"/>
          <template id="00000013-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsPinboardSearch.ascx"/>
          <template id="00000014-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsPollQuestion.ascx"/>
          <template id="00000015-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsSlideShow.ascx"/>
          <template id="00000016-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsHTMLContent.ascx"/>
          <template id="00000017-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsProduct.ascx"/>
          <template id="00000018-aaaa-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="DetailsSurvey.ascx"/>

          <!-- TagRelated Object Templates-->
          <template id="00000002-ce6f-49c7-8757-d5fc23810aef" image="2.gif" repeaterControl="" outputTemplateControl="SmallOutputObject.ascx"/>
          <template id="00000003-ce6f-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="SmallOutputVideo.ascx"/>

          <!-- Object Overview Templates-->
          <template id="00000004-ce6f-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="SmallOutputObject.ascx"/>
          <template id="8cf34a64-6e3c-47ad-bf19-c94a93a5ef87" image="2.gif" repeaterControl="TelerikRotator.ascx" outputTemplateControl="SmallOutputObject.ascx"/>
          <template id="00000004-0002-49c7-8757-d5fc23810aef" image="3.gif" repeaterControl="" outputTemplateControl="SmallOutputObject2.ascx"/>
          <template id="00000004-0003-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="DataObjectLists.ascx" outputTemplateControl="SmallOutputHTMLContent.ascx"/>
          <template id="00000004-0004-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="DataObjectLists.ascx" outputTemplateControl="SmallOutputSurvey.ascx"/>
          <template id="00000004-0005-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="DataObjectLists.ascx" outputTemplateControl="SmallOutputProduct.ascx"/>
          <template id="00000004-0006-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="ObjectDetailsSiblings.ascx"/>
          <!-- Rating Templates-->
          <template id="00000006-ce6f-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="ObjectVotingTelerik.ascx"/>
          <!-- UserList Templates-->
          <template id="0001251b-ce6f-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="UserLists.ascx" outputTemplateControl="UserListsLarge.ascx"/>
          <template id="0002251b-ce6f-49c7-8757-d5fc23810aef" image="2.gif" repeaterControl="UserLists.ascx" outputTemplateControl="UserListsSmall.ascx"/>
          <template id="0003251b-ce6f-49c7-8757-d5fc23810aef" image="3.gif" repeaterControl="UserLists.ascx" outputTemplateControl="UserListsOnlyText.ascx"/>
          <!-- CommunityList Templates-->
          <template id="1001251b-ce6f-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="CommunityLists.ascx" outputTemplateControl="CommunityListsLarge.ascx"/>
          <template id="1002251b-ce6f-49c7-8757-d5fc23810aef" image="2.gif" repeaterControl="CommunityLists.ascx" outputTemplateControl="CommunityListsOnlyText.ascx"/>
          <template id="100ab51b-ce6f-49c7-8757-d5fc23810aef" image="3.gif" repeaterControl="CommunityLists.ascx" outputTemplateControl="CommunityListsShortInfo.ascx"/>
          <!-- Login Templates-->
          <template id="12345678-ce6f-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="Login.ascx"/>
          <!-- LoginSSO Templates-->
          <template id="77edb033-975c-4fd6-b018-65a5f5beb8ef" image="1.gif" repeaterControl="" outputTemplateControl="LoginSSO.ascx"/>
          <!-- Registration Templates-->
          <template id="73c908dc-6d66-4497-ad68-7ab179696648" image="1.gif" repeaterControl="" outputTemplateControl="Registration.ascx"/>
          <!-- ObjectSiblings Templates-->
          <template id="00000001-ce6f-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="ObjectDetailsSiblings.ascx"/>
          <!-- UserShortInfo Templates-->
          <template id="00012301-ce6f-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="" outputTemplateControl="UserShortInfo.ascx"/>
          <!-- UserActivities Templates-->
          <template id="00012301-abcd-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="UserActivities.ascx" outputTemplateControl="UserActivities.ascx"/>
          <!--Comments Templates-->
          <template id="00012301-bcde-49c7-8757-d5fc23810aef" image="1.gif" repeaterControl="Comments.ascx" outputTemplateControl="SmallOutputComment.ascx"/>
        </templates>
    </outputTemplatesSection>
</configuration>
