<?xml version="1.0" encoding="UTF-8"?>
<Root>
   <Personal DBField="Sex">
      <FriendlyName Lang="de-ch"><![CDATA[Geschlecht]]></FriendlyName>
      <PeronalItem Condition="Search">
         <FriendlyName Lang="de-ch"><![CDATA[Alle]]></FriendlyName>
         <Value></Value>
      </PeronalItem>
      <PeronalItem Condition="Update">
         <FriendlyName Lang="de-ch"><![CDATA[Keine Angabe]]></FriendlyName>
         <Value>0</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Männlich]]></FriendlyName>
         <Value>1</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Weiblich]]></FriendlyName>
         <Value>2</Value>
      </PeronalItem>
   </Personal>
   <Personal DBField="Status">
      <FriendlyName Lang="de-ch"><![CDATA[Beziehung]]></FriendlyName>
      <FriendlyName Lang="en-us"><![CDATA[Beziehung-en]]></FriendlyName>
      <PeronalItem Condition="Search">
         <FriendlyName Lang="de-ch"><![CDATA[Alle]]></FriendlyName>
         <FriendlyName Lang="en-us"><![CDATA[Alle-en]]></FriendlyName>
         <Value></Value>
      </PeronalItem>
      <PeronalItem Condition="Update">
         <FriendlyName Lang="de-ch"><![CDATA[Keine Angabe]]></FriendlyName>
         <FriendlyName Lang="en-us"><![CDATA[Keine Angabe-en]]></FriendlyName>
         <Value>0</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Single]]></FriendlyName>
         <FriendlyName Lang="en-us"><![CDATA[Single-en]]></FriendlyName>
         <Value>1</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Vergeben]]></FriendlyName>
         <Value>2</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Offene Beziehung]]></FriendlyName>
         <Value>3</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Abenteuerlustig]]></FriendlyName>
         <Value>4</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Verheiratet]]></FriendlyName>
         <Value>5</Value>
      </PeronalItem>
   </Personal>
   <Personal DBField="AttractedTo">
      <FriendlyName Lang="de-ch"><![CDATA[Neigung]]></FriendlyName>
      <PeronalItem Condition="Search">
         <FriendlyName Lang="de-ch"><![CDATA[Alle]]></FriendlyName>
         <Value></Value>
      </PeronalItem>
      <PeronalItem Condition="Update">
         <FriendlyName Lang="de-ch"><![CDATA[Keine Angabe]]></FriendlyName>
         <Value>0</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Männer]]></FriendlyName>
         <Value>1</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Frauen]]></FriendlyName>
         <Value>2</Value>
      </PeronalItem>
   </Personal>
   <Personal DBField="BodyHeight">
      <FriendlyName Lang="de-ch"><![CDATA[Grösse]]></FriendlyName>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Alle]]></FriendlyName>
         <Value>0-999</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[unter 150 cm]]></FriendlyName>
         <Value>1-149</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[150-159 cm]]></FriendlyName>
         <Value>150-159</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[160-169 cm]]></FriendlyName>
         <Value>160-169</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[170-179 cm]]></FriendlyName>
         <Value>170-179</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[180-189 cm]]></FriendlyName>
         <Value>180-189</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[über 190 cm]]></FriendlyName>
         <Value>190-999</Value>
      </PeronalItem>
   </Personal>
   <Personal DBField="BodyWeight">
      <FriendlyName Lang="de-ch"><![CDATA[Gewicht]]></FriendlyName>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Alle]]></FriendlyName>
         <Value>0-999</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[unter 40 kg]]></FriendlyName>
         <Value>1-39</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[40-49 kg]]></FriendlyName>
         <Value>40-49</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[50-59 kg]]></FriendlyName>
         <Value>50-59</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[60-69 kg]]></FriendlyName>
         <Value>60-69</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[70-79 kg]]></FriendlyName>
         <Value>70-79</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[über 80 kg]]></FriendlyName>
         <Value>80-999</Value>
      </PeronalItem>
   </Personal>
   <Personal DBField="EyeColor">
      <FriendlyName Lang="de-ch"><![CDATA[Augenfarbe]]></FriendlyName>
      <PeronalItem Condition="Search">
         <FriendlyName Lang="de-ch"><![CDATA[Alle]]></FriendlyName>
         <Value></Value>
      </PeronalItem>
      <PeronalItem Condition="Update">
         <FriendlyName Lang="de-ch"><![CDATA[Keine Angabe]]></FriendlyName>
         <Value>0</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Blau]]></FriendlyName>
         <Value>1</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Braun]]></FriendlyName>
         <Value>2</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Grau]]></FriendlyName>
         <Value>3</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Grün]]></FriendlyName>
         <Value>4</Value>
      </PeronalItem>
   </Personal>
   <Personal DBField="HairColor">
      <FriendlyName Lang="de-ch"><![CDATA[Haarfarbe]]></FriendlyName>
      <PeronalItem Condition="Search">
         <FriendlyName Lang="de-ch"><![CDATA[Alle]]></FriendlyName>
         <Value></Value>
      </PeronalItem>
      <PeronalItem Condition="Update">
         <FriendlyName Lang="de-ch"><![CDATA[Keine Angabe]]></FriendlyName>
         <Value>0</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Blond]]></FriendlyName>
         <Value>1</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Braun]]></FriendlyName>
         <Value>2</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Schwarz]]></FriendlyName>
         <Value>3</Value>
      </PeronalItem>
      <PeronalItem Condition="None">
         <FriendlyName Lang="de-ch"><![CDATA[Rot]]></FriendlyName>
         <Value>4</Value>
      </PeronalItem>
   </Personal>
   <General DBField="Talent1">
      <FriendlyName Lang="de-ch"><![CDATA[Talent #1]]></FriendlyName>
      <FriendlyName Lang="en-us"><![CDATA[Talent-en #1]]></FriendlyName>
   </General>
   <General DBField="Talent2">
      <FriendlyName Lang="de-ch"><![CDATA[Talent #2]]></FriendlyName>
   </General>
   <General DBField="Talent3">
      <FriendlyName Lang="de-ch"><![CDATA[Talent #3]]></FriendlyName>
   </General>
   <General DBField="Talent4">
      <FriendlyName Lang="de-ch"><![CDATA[Talent #4]]></FriendlyName>
   </General>
   <General DBField="Talent5">
      <FriendlyName Lang="de-ch"><![CDATA[Talent #5]]></FriendlyName>
   </General>
   <General DBField="Talent6">
      <FriendlyName Lang="de-ch"><![CDATA[Talent #6]]></FriendlyName>
   </General>
   <General DBField="Talent7">
      <FriendlyName Lang="de-ch"><![CDATA[Talent #7]]></FriendlyName>
   </General>
   <General DBField="Talent8">
      <FriendlyName Lang="de-ch"><![CDATA[Talent #8]]></FriendlyName>
   </General>
   <General DBField="Talent9">
      <FriendlyName Lang="de-ch"><![CDATA[Talent #9]]></FriendlyName>
   </General>
   <General DBField="Talent10">
      <FriendlyName Lang="de-ch"><![CDATA[Talent #10]]></FriendlyName>
   </General>
   <InterestTopic DBField="InterestTopic1" ID="1">
		<FriendlyName Lang="de-ch"><![CDATA[Karriere]]></FriendlyName>
		<NameSingular Lang="de-ch"><![CDATA[An Karriere interessiert mich]]></NameSingular>
		<NamePlural Lang="de-ch"><![CDATA[An Karriere interessieren mich]]></NamePlural>
		<InterestSubTopics>
			<InterestSubTopic ID="2">
				<FriendlyName Lang="de-ch"><![CDATA[Jobs]]></FriendlyName>
				<Value>2</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="3">
				<FriendlyName Lang="de-ch"><![CDATA[Praktika]]></FriendlyName>
				<Value>3</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="20">
				<FriendlyName Lang="de-ch"><![CDATA[Studium]]></FriendlyName>
				<Value>20</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="21">
				<FriendlyName Lang="de-ch"><![CDATA[Auslandaufenthalt]]></FriendlyName>
				<Value>21</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="22">
				<FriendlyName Lang="de-ch"><![CDATA[Weiterbildung]]></FriendlyName>
				<Value>22</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="23">
				<FriendlyName Lang="de-ch"><![CDATA[Freelancer]]></FriendlyName>
				<Value>23</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="24">
				<FriendlyName Lang="de-ch"><![CDATA[Kommunikation]]></FriendlyName>
				<Value>24</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="26">
				<FriendlyName Lang="de-ch"><![CDATA[Karriere]]></FriendlyName>
				<Value>26</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="27">
				<FriendlyName Lang="de-ch"><![CDATA[Firmenportraits]]></FriendlyName>
				<Value>27</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="28">
				<FriendlyName Lang="de-ch"><![CDATA[Geld]]></FriendlyName>
				<Value>28</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="29">
				<FriendlyName Lang="de-ch"><![CDATA[Vorbilder]]></FriendlyName>
				<Value>29</Value>
			</InterestSubTopic>
		</InterestSubTopics>
	</InterestTopic>
	<InterestTopic DBField="InterestTopic2" ID="4">
		<FriendlyName Lang="de-ch"><![CDATA[Kunst+Unterhaltung]]></FriendlyName>
		<NameSingular Lang="de-ch"><![CDATA[An Kunst + Unterhaltung interessiert mich]]></NameSingular>
		<NamePlural Lang="de-ch"><![CDATA[An Kunst + Unterhaltung interessieren mich]]></NamePlural>
		<InterestSubTopics>
			<InterestSubTopic ID="5">
				<FriendlyName Lang="de-ch"><![CDATA[Film]]></FriendlyName>
				<Value>5</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="6">
				<FriendlyName Lang="de-ch"><![CDATA[Theater]]></FriendlyName>
				<Value>6</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="30">
				<FriendlyName Lang="de-ch"><![CDATA[Musik]]></FriendlyName>
				<Value>30</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="31">
				<FriendlyName Lang="de-ch"><![CDATA[Literatur]]></FriendlyName>
				<Value>31</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="32">
				<FriendlyName Lang="de-ch"><![CDATA[Tanz]]></FriendlyName>
				<Value>32</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="33">
				<FriendlyName Lang="de-ch"><![CDATA[Comedy]]></FriendlyName>
				<Value>33</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="53">
				<FriendlyName Lang="de-ch"><![CDATA[Art]]></FriendlyName>
				<Value>53</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="54">
				<FriendlyName Lang="de-ch"><![CDATA[Party+Events]]></FriendlyName>
				<Value>54</Value>
			</InterestSubTopic>
		</InterestSubTopics>
	</InterestTopic>
	<InterestTopic DBField="InterestTopic3" ID="7">
		<FriendlyName Lang="de-ch"><![CDATA[Sport+Lifestyle]]></FriendlyName>
		<NameSingular Lang="de-ch"><![CDATA[An Sport + Lifestyle interessiert mich]]></NameSingular>
		<NamePlural Lang="de-ch"><![CDATA[An Sport + Lifestyle interessieren mich]]></NamePlural>
		<InterestSubTopics>
			<InterestSubTopic ID="8">
				<FriendlyName Lang="de-ch"><![CDATA[Soul-Sport]]></FriendlyName>
				<Value>8</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="9">
				<FriendlyName Lang="de-ch"><![CDATA[Extreme-Sport]]></FriendlyName>
				<Value>9</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="35">
				<FriendlyName Lang="de-ch"><![CDATA[Ballsport]]></FriendlyName>
				<Value>35</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="36">
				<FriendlyName Lang="de-ch"><![CDATA[Radsport]]></FriendlyName>
				<Value>36</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="37">
				<FriendlyName Lang="de-ch"><![CDATA[Athletik]]></FriendlyName>
				<Value>37</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="38">
				<FriendlyName Lang="de-ch"><![CDATA[Wintersport]]></FriendlyName>
				<Value>38</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="39">
				<FriendlyName Lang="de-ch"><![CDATA[Motorsport]]></FriendlyName>
				<Value>39</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="40">
				<FriendlyName Lang="de-ch"><![CDATA[Wassersport]]></FriendlyName>
				<Value>40</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="41">
				<FriendlyName Lang="de-ch"><![CDATA[Natur]]></FriendlyName>
				<Value>41</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="49">
				<FriendlyName Lang="de-ch"><![CDATA[Mode]]></FriendlyName>
				<Value>49</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="50">
				<FriendlyName Lang="de-ch"><![CDATA[Essen+Trinken]]></FriendlyName>
				<Value>50</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="51">
				<FriendlyName Lang="de-ch"><![CDATA[Mentaltraining]]></FriendlyName>
				<Value>51</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="52">
				<FriendlyName Lang="de-ch"><![CDATA[digital Lifestyle]]></FriendlyName>
				<Value>52</Value>
			</InterestSubTopic>
		</InterestSubTopics>
	</InterestTopic>
	<InterestTopic DBField="InterestTopic4" ID="10">
		<FriendlyName Lang="de-ch"><![CDATA[Gesellschaft+Politik]]></FriendlyName>
		<NameSingular Lang="de-ch"><![CDATA[An Gesellschaft + Politik interessiert mich]]></NameSingular>
		<NamePlural Lang="de-ch"><![CDATA[An Gesellschaft + Politik interessieren mich]]></NamePlural>
		<InterestSubTopics>
			<InterestSubTopic ID="11">
				<FriendlyName Lang="de-ch"><![CDATA[Politiker+Aktivisten]]></FriendlyName>
				<Value>11</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="12">
				<FriendlyName Lang="de-ch"><![CDATA[News+Facts]]></FriendlyName>
				<Value>12</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="13">
				<FriendlyName Lang="de-ch"><![CDATA[Kampagnen+Forderungen]]></FriendlyName>
				<Value>13</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="15">
				<FriendlyName Lang="de-ch"><![CDATA[Demos+Aktionen]]></FriendlyName>
				<Value>15</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="17">
				<FriendlyName Lang="de-ch"><![CDATA[Nachhaltigkeit]]></FriendlyName>
				<Value>17</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="18">
				<FriendlyName Lang="de-ch"><![CDATA[Satire+Politische Unterhaltung]]></FriendlyName>
				<Value>18</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="19">
				<FriendlyName Lang="de-ch"><![CDATA[Globalisierung]]></FriendlyName>
				<Value>19</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="55">
				<FriendlyName Lang="de-ch"><![CDATA[Bildungspolitik]]></FriendlyName>
				<Value>55</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="56">
				<FriendlyName Lang="de-ch"><![CDATA[Kulturpolitik]]></FriendlyName>
				<Value>56</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="57">
				<FriendlyName Lang="de-ch"><![CDATA[Integration]]></FriendlyName>
				<Value>57</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="58">
				<FriendlyName Lang="de-ch"><![CDATA[Wirtschaft]]></FriendlyName>
				<Value>58</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="60">
				<FriendlyName Lang="de-ch"><![CDATA[Politische Organisationen]]></FriendlyName>
				<Value>60</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="61">
				<FriendlyName Lang="de-ch"><![CDATA[Leben Heute]]></FriendlyName>
				<Value>61</Value>
			</InterestSubTopic>
		</InterestSubTopics>
	</InterestTopic>
	<InterestTopic DBField="InterestTopic5" ID="42">
		<FriendlyName Lang="de-ch"><![CDATA[Allgemein]]></FriendlyName>
		<NameSingular Lang="de-ch"><![CDATA[Allgemein interessiert mich]]></NameSingular>
		<NamePlural Lang="de-ch"><![CDATA[Allgemein interessieren mich]]></NamePlural>
		<InterestSubTopics>
			<InterestSubTopic ID="43">
				<FriendlyName Lang="de-ch"><![CDATA[Familie]]></FriendlyName>
				<Value>43</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="44">
				<FriendlyName Lang="de-ch"><![CDATA[Freunde]]></FriendlyName>
				<Value>44</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="45">
				<FriendlyName Lang="de-ch"><![CDATA[Hobby]]></FriendlyName>
				<Value>45</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="46">
				<FriendlyName Lang="de-ch"><![CDATA[NonSense]]></FriendlyName>
				<Value>46</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="47">
				<FriendlyName Lang="de-ch"><![CDATA[ohne InterestTopic]]></FriendlyName>
				<Value>47</Value>
			</InterestSubTopic>
			<InterestSubTopic ID="48">
				<FriendlyName Lang="de-ch"><![CDATA[News]]></FriendlyName>
				<Value>48</Value>
			</InterestSubTopic>
		</InterestSubTopics>
	</InterestTopic>
</Root>
