<root>
	<tools name="CSBoosterMenuFS" dockable="true">
		<tool name="ToggleScreenMode" shortcut="F11"/>
	</tools>
	<tools name="CSBoosterMenu1" dockable="true">
		<tool name="Bold" shortcut="CTRL+B"/>
		<tool name="Italic" shortcut="CTRL+I"/>
		<tool name="Underline" shortcut="CTRL+U"/>
	</tools>
	<tools name="CSBoosterMenu2" dockable="true">
		<tool name="InsertOrderedList" />
		<tool name="InsertUnorderedList" />
		<tool name="InsertSymbol"/>
	</tools>
	<tools name="CSBoosterMenu3" dockable="true">
		<tool name="LinkManager" shortcut="CTRL+K"/>
		<tool name="Unlink" shortcut="CTRL+SHIFT+K"/>
	</tools>
	<tools name="CSBoosterMenu4" dockable="true">
		<tool name="Undo" shortcut="CTRL+Z"/>
		<tool name="Redo" shortcut="CTRL+Y"/>
	</tools>
</root>
