<?xml version="1.0" encoding="Windows-1252" ?>
<configuration>
    <configSections>
        <section name="shopSection" type="_4screen.CSB.Common.ShopSection, CSBooster.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <shopSection>
        <shopSettings>
            <shopSetting key="AddToCartOnlyAuthenticated" value="False"/>
            <shopSetting key="ChechoutOnlyAuthenticated" value="False"/>
            <shopSetting key="CartActiveRangeMinutes" value="60"/>
            <shopSetting key="AddToCartHanlderURL" value="/Pages/Other/AddToCartHandler.ashx"/>
            <shopSetting key="TransportCosts" value="15"/>
            <shopSetting key="TaxesPercent" value="0"/>
            <shopSetting key="CheckoutUrl" value="/Warenkorb"/>
            <shopSetting key="ShopMail" value="p.imboden@onlne.ch"/>
            <shopSetting key="ShopBCCMail" value="pi@4screen.ch"/>
        </shopSettings>
    </shopSection>
</configuration>
