<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <section name="siteObjectSection" type="_4screen.CSB.Common.SiteObjectSection, CSBooster.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <siteObjectSection>
        <siteObjects>
            <siteObjectType numericId="2" id="User"
                isActive="true"
                allowedRoles=""
                hasOverview="true"
                isFolderContent="false"
                isGeoTaggable="false"
                isMultiUpload="false"
                imageActionSmall="SmallCroppedJpg"
                imageActionExtraSmall="ExtraSmallCroppedJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="User"
                namePluralKey="Users"
                nameCreateMenuKey=""
                allowedFileExtensions=""
                icon="icon_user.png"
                uploadWizard="UserRegistration"
                editWizard=""
                linkToWizardKey="LINK_TO_USER_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_USER_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_USER_DETAIL"
                linkToOverviewKey="LINK_TO_USER_OVERVIEW"
                linkToDetailKey="LINK_TO_USER_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectUserImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                searchForSelectCtrl=""
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectUser"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="19" id="ProfileCommunity"
                isActive="false"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="false"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="ProfileCommunity"
                namePluralKey="ProfileCommunities"
                nameCreateMenuKey=""
                allowedFileExtensions=""
                icon=""
                uploadWizard=""
                editWizard=""
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectProfileCommunity"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="1" id="Community"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="false"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Community"
                namePluralKey="Communities"
                nameCreateMenuKey="CreateCommunity"
                allowedFileExtensions=""
                icon="icon_community.png"
                uploadWizard="CommunityCreate"
                editWizard="CommunityEdit"
                linkToWizardKey="LINK_TO_COMMUNITY_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_COMMUNITY_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_COMMUNITY_DETAIL"
                linkToOverviewKey="LINK_TO_COMMUNITY_OVERVIEW"
                linkToDetailKey="LINK_TO_COMMUNITY_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectCommunityImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectCommunity"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="20" id="Page"
                isActive="true"
                allowedRoles=""
                hasOverview="false"
                isFolderContent="false"
                isGeoTaggable="false"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Page"
                namePluralKey="Pages"
                nameCreateMenuKey="CreatePages"
                allowedFileExtensions=""
                icon="icon_page.png"
                uploadWizard="PageCreate"
                editWizard="PageEdit"
                linkToWizardKey="LINK_TO_PAGE_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_PAGE_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_PAGE_DETAIL"
                linkToOverviewKey="LINK_TO_PAGE_OVERVIEW"
                linkToDetailKey="LINK_TO_PAGE_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectCommunityImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectPage"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />

            <siteObjectType numericId="3" id="Picture"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="true"
                imageActionMedium="MediumJpg"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Picture"
                namePluralKey="Pictures"
                nameCreateMenuKey="UploadPictures"
                allowedFileExtensions=".gif,.jpeg,.jpg,.jpe,.png,.tiff,.tif"
                icon="icon_picture.png"
                uploadWizard="PictureUpload"
                editWizard="PictureEdit"
                linkToWizardKey="LINK_TO_PICTURE_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_PICTURE_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_PICTURE_DETAIL"
                linkToOverviewKey="LINK_TO_PICTURE_OVERVIEW"
                linkToDetailKey="LINK_TO_PICTURE_DETAIL"
                niceLinkToMobileDetailKey="NICE_LINK_TO_PICTURE_MOBILE_DETAIL"
                niceLinkToMobileOverviewKey="NICE_LINK_TO_PICTURE_MOBILE_OVERVIEW"
                mediaFolder="P"
                defaultImageURL="/Defmedia/DataObjectPictureImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                searchForSelectCtrl="ObjectDetailsForSelect.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectPicture"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSuggestions.ascx"
                detailWidgetId="123b0e58-1710-4dcd-9272-ca35507f0001"
            />
            <siteObjectType numericId="4" id="Video"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="true"
                imageActionMedium="MediumJpg"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Video"
                namePluralKey="Videos"
                nameCreateMenuKey="UploadVideos"
                allowedFileExtensions=".qt,.mov,.mpeg,.mpg,.mpe,.avi,.movie,.wmv,.flv,.asf,.3gp,.mp4"
                icon="icon_video.png"
                uploadWizard="VideoUpload"
                editWizard="VideoEdit"
                linkToWizardKey="LINK_TO_VIDEO_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_VIDEO_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_VIDEO_DETAIL"
                niceLinkToMobileDetailKey="NICE_LINK_TO_VIDEO_MOBILE_DETAIL"
                linkToOverviewKey="LINK_TO_VIDEO_OVERVIEW"
                linkToDetailKey="LINK_TO_VIDEO_DETAIL"
                mediaFolder="V"
                defaultImageURL="/Defmedia/DataObjectVideoImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                searchForSelectCtrl="ObjectDetailsForSelect.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectVideo"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="6" id="Audio"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="true"
                imageActionSmall="SmallCroppedJpg"
                imageActionExtraSmall="ExtraSmallCroppedJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Audio"
                namePluralKey="Audios"
                nameCreateMenuKey="UploadAduio"
                allowedFileExtensions=".mp3"
                icon="icon_audio.png"
                uploadWizard="AudioUpload"
                editWizard="AudioEdit"
                linkToWizardKey="LINK_TO_AUDIO_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_AUDIO_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_AUDIO_DETAIL"
                linkToOverviewKey="LINK_TO_AUDIO_OVERVIEW"
                linkToDetailKey="LINK_TO_AUDIO_DETAIL"
                mediaFolder="A"
                defaultImageURL="/Defmedia/DataObjectAudioImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectAudio"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="21" id="Document"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="true"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Document"
                namePluralKey="Documents"
                nameCreateMenuKey="UploadDocuments"
                allowedFileExtensions=".txt,.doc,.docx,.pdf,.xls,.xlsx,.ppt,.pptx"
                icon="icon_document.png"
                uploadWizard="DocumentUpload"
                editWizard="DocumentEdit"
                linkToWizardKey="LINK_TO_DOCUMENT_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_DOCUMENT_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_DOCUMENT_DETAIL"
                linkToOverviewKey="LINK_TO_DOCUMENT_OVERVIEW"
                linkToDetailKey="LINK_TO_DOCUMENT_DETAIL"
                mediaFolder="D"
                defaultImageURL="/Defmedia/DataObjectDocumentImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectDocument"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="7" id="Article"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Article"
                namePluralKey="Articles"
                nameCreateMenuKey="WriteArticle"
                allowedFileExtensions=""
                icon="icon_article.png"
                uploadWizard="ArticleUpload"
                editWizard="ArticleEdit"
                linkToWizardKey="LINK_TO_ARTICLE_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_ARTICLE_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_ARTICLE_DETAIL"
                linkToOverviewKey="LINK_TO_ARTICLE_OVERVIEW"
                linkToDetailKey="LINK_TO_ARTICLE_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectArticleImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectArticle"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="15" id="Event"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Event"
                namePluralKey="Events"
                nameCreateMenuKey="CreateEvent"
                allowedFileExtensions=""
                icon="icon_event.png"
                uploadWizard="EventUpload"
                editWizard="EventEdit"
                linkToWizardKey="LINK_TO_EVENT_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_EVENT_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_EVENT_DETAIL"
                linkToOverviewKey="LINK_TO_EVENT_OVERVIEW"
                linkToDetailKey="LINK_TO_EVENT_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectEventImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectEvent"
                viewHandlerCtrl=""
                tagHandlerCtrl=""
            />
            <siteObjectType numericId="13" id="SlideShow"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Slideshow"
                namePluralKey="Slideshows"
                nameCreateMenuKey="CreateSlideshow"
                allowedFileExtensions=""
                icon="icon_slideshow.png"
                uploadWizard="SlideshowUpload"
                editWizard="SlideshowEdit"
                linkToWizardKey="LINK_TO_SLIDESHOW_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_SLIDESHOW_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_SLIDESHOW_DETAIL"
                linkToOverviewKey="LINK_TO_SLIDESHOW_OVERVIEW"
                linkToDetailKey="LINK_TO_SLIDESHOW_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectSlideShowImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectSlideShow"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="14" id="Folder"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Folder"
                namePluralKey="Folders"
                nameCreateMenuKey="CreateFolder"
                allowedFileExtensions=""
                icon="icon_folder.png"
                uploadWizard="FolderUpload"
                editWizard="FolderEdit"
                linkToWizardKey="LINK_TO_FOLDER_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_FOLDER_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_FOLDER_DETAIL"
                linkToOverviewKey="LINK_TO_FOLDER_OVERVIEW"
                linkToDetailKey="LINK_TO_FOLDER_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectFolderImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectFolder"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="10" id="Forum"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="false"
                isGeoTaggable="false"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Forum"
                namePluralKey="Forums"
                nameCreateMenuKey="CreateForum"
                allowedFileExtensions=""
                icon="icon_forum.png"
                uploadWizard="ForumUpload"
                editWizard="ForumEdit"
                linkToWizardKey="LINK_TO_FORUM_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_FORUM_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_FORUM_DETAIL"
                linkToOverviewKey="LINK_TO_FORUM_OVERVIEW"
                linkToDetailKey="LINK_TO_FORUM_DETAIL"
                niceLinkToMobileDetailKey="NICE_LINK_TO_FORUM_MOBILE_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectForum"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="11" id="ForumTopic"
                isActive="false"
                allowedRoles=""
                hasOverview="false"
                isFolderContent="false"
                isGeoTaggable="false"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="ForumTopic"
                namePluralKey="ForumTopics"
                nameCreateMenuKey=""
                allowedFileExtensions=""
                icon="icon_forumtopic.png"
                uploadWizard="ForumTopicUpload"
                editWizard="ForumTopicEdit"
                linkToWizardKey="LINK_TO_FORUM_TOPIC_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_FORUM_TOPIC_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_FORUM_TOPIC_DETAIL"
                linkToOverviewKey="LINK_TO_FORUM_TOPIC_OVERVIEW"
                linkToDetailKey="LINK_TO_FORUM_TOPIC_DETAIL"
                niceLinkToMobileDetailKey="NICE_LINK_TO_FORUM_TOPIC_MOBILE_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectForumTopic"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
                mobileDetailsCtrl="/M/UserControls/Templates/DetailsForumTopic.ascx"
           />
            <siteObjectType numericId="12" id="ForumTopicItem"
                isActive="false"
                allowedRoles=""
                hasOverview="false"
                isFolderContent="false"
                isGeoTaggable="false"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="ForumTopicItem"
                namePluralKey="ForumTopicItems"
                nameCreateMenuKey=""
                allowedFileExtensions=""
                icon="icon_forumtopicitem.png"
                uploadWizard=""
                editWizard=""
                niceLinkToOverviewKey=""
                niceLinkToDetailKey=""
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultForumTopicItem.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectForumTopicItem"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="16" id="News"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="false"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="NewsSingular"
                namePluralKey="NewsPlural"
                nameCreateMenuKey="WriteNews"
                allowedFileExtensions=""
                icon="icon_news.png"
                uploadWizard="NewsUpload"
                editWizard="NewsEdit"
                linkToWizardKey="LINK_TO_NEWS_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_NEWS_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_NEWS_DETAIL"
                linkToOverviewKey="LINK_TO_NEWS_OVERVIEW"
                linkToDetailKey="LINK_TO_NEWS_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectNews"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="17" id="PinboardSearch"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="false"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="PinboardSearch"
                namePluralKey="PinboardSearches"
                nameCreateMenuKey="CreatePinboardSearch"
                allowedFileExtensions=""
                icon="icon_pinboardsearch.png"
                uploadWizard="PinboardSearchUpload"
                editWizard="PinboardSearchEdit"
                linkToWizardKey="LINK_TO_PINBOARD_SEARCH_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_PINBOARD_SEARCH_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_PINBOARD_SEARCH_DETAIL"
                linkToOverviewKey="LINK_TO_PINBOARD_SEARCH_OVERVIEW"
                linkToDetailKey="LINK_TO_PINBOARD_SEARCH_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectPinboardSearch"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
           />
            <siteObjectType numericId="18" id="PinboardOffer"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="false"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="PinboardOffer"
                namePluralKey="PinboardOffers"
                nameCreateMenuKey="CreatePinboardOffer"
                allowedFileExtensions=""
                icon="icon_pinboardoffer.png"
                uploadWizard="PinboardOfferUpload"
                editWizard="PinboardOfferEdit"
                linkToWizardKey="LINK_TO_PINBOARD_OFFER_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_PINBOARD_OFFER_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_PINBOARD_OFFER_DETAIL"
                linkToOverviewKey="LINK_TO_PINBOARD_OFFER_OVERVIEW"
                linkToDetailKey="LINK_TO_PINBOARD_OFFER_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectPinboardOffer"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="999" id="Generic"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="false"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Generic"
                namePluralKey="Generics"
                nameCreateMenuKey="UploadGenerics"
                allowedFileExtensions=""
                icon="icon_generic.png"
                uploadWizard="GenericUpload"
                editWizard="GenericUpload"
                linkToWizardKey="LINK_TO_GENERIC_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_GENERIC_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_GENERIC_DETAIL"
                linkToOverviewKey="LINK_TO_GENERIC_OVERVIEW"
                linkToDetailKey="LINK_TO_GENERIC_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectGenericImageSmall.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectGeneric"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="22" id="PollQuestion"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="false"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="PollQuestion"
                namePluralKey="PollQuestions"
                nameCreateMenuKey="UploadPollQuestions"
                allowedFileExtensions=""
                icon="icon_pollquestions.png"
                uploadWizard="PollQuestionsUpload"
                editWizard="PollQuestionsEdit"
                linkToWizardKey="LINK_TO_POLLQUESTION_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_POLLQUESTION_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_POLLQUESTION_DETAIL"
                linkToOverviewKey="LINK_TO_POLLQUESTION_OVERVIEW"
                linkToDetailKey="LINK_TO_POLLQUESTION_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectPollQuestion.gif"
                isSearchable="true"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectPollQuestion"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="23" id="PollAnswer"
                isActive="false"
                allowedRoles=""
                hasOverview="false"
                isFolderContent="false"
                isGeoTaggable="false"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="PollAnswer"
                namePluralKey="PollAnswers"
                nameCreateMenuKey=""
                allowedFileExtensions=""
                icon="icon_pollanswer.png"
                uploadWizard=""
                editWizard=""
                niceLinkToOverviewKey=""
                niceLinkToDetailKey=""
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectPollAnswer.gif"
                isSearchable="false"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.DataObjectPollAnswer"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="24" id="Location"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="false"
                isFolderContent="false"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Location"
                namePluralKey="Locations"
                nameCreateMenuKey="CreateLocation"
                allowedFileExtensions=""
                icon="icon_location.png"
                uploadWizard="LocationUpload"
                editWizard="LocationEdit"
                niceLinkToOverviewKey="NICE_LINK_TO_LOCATION_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_LOCATION_DETAIL"
                linkToOverviewKey="LINK_TO_LOCATION_OVERVIEW"
                linkToDetailKey="LINK_TO_LOCATION_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectLocation.gif"
                isSearchable="false"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataAccess.Business.Location"
                viewHandlerCtrl=""
                tagHandlerCtrl=""
            />
            <siteObjectType numericId="25" id="Comment"
      isActive="false"
      allowedRoles=""
      hasOverview="false"
      isFolderContent="false"
      isGeoTaggable="false"
      isMultiUpload="false"
                imageActionSmall="SmallJpg"
                imageActionExtraSmall="ExtraSmallJpg"
      cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
      imageActionCrop="Crop"
      nameSingularKey="CommentSingular"
      namePluralKey="CommentPlural"
      nameCreateMenuKey=""
      allowedFileExtensions=""
      icon=""
      uploadWizard=""
      editWizard=""
      linkToWizardKey=""
      niceLinkToOverviewKey=""
      niceLinkToDetailKey=""
      linkToOverviewKey=""
      linkToDetailKey=""
      mediaFolder=""
      defaultImageURL="/Defmedia/DataObjectImageSmall.gif"
      isSearchable="true"
      searchResultCtrl="SearchResultDefault.ascx"
      defaultLoadAmount="500"
      type="_4screen.CSB.DataAccess.Business.DataObjectComment"
      viewHandlerCtrl=""
      tagHandlerCtrl=""
            />
            <siteObjectType numericId="1010" id="Product"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallCroppedJpg"
                imageActionExtraSmall="ExtraSmallCroppedJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Product"
                namePluralKey="Products"
                nameCreateMenuKey="CreateProduct"
                allowedFileExtensions=""
                icon="icon_product.png"
                uploadWizard="createProduct"
                editWizard="editProduct"
                linkToWizardKey="LINK_TO_PRODUCT_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_PRODUCT_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_PRODUCT_DETAIL"
                linkToOverviewKey="LINK_TO_PRODUCT_OVERVIEW"
                linkToDetailKey="LINK_TO_PRODUCT_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectProductImageSmall.gif"
                isSearchable="false"
                localizationBaseFileName="DataObjectProduct"
                assembly="CSBooster.DataObj.Product"
                searchForSelectCtrl="ObjectDetailsForSelect.ascx"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataObj.Business.DataObjectProduct"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="1020" id="HTMLContent"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallCroppedJpg"
                imageActionExtraSmall="ExtraSmallCroppedJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="HTMLContentSingular"
                namePluralKey="HTMLContentPlural"
                nameCreateMenuKey="CreateHTMLContent"
                allowedFileExtensions=""
                icon="icon_product.png"
                uploadWizard="createHTMLContent"
                editWizard="editHTMLContent"
                linkToWizardKey="LINK_TO_HTMLCONTENT_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_HTMLCONTENT_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_HTMLCONTENT_DETAIL"
                linkToOverviewKey="LINK_TO_HTMLCONTENT_OVERVIEW"
                linkToDetailKey="LINK_TO_HTMLCONTENT_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectImageSmall.gif"
                isSearchable="false"
                localizationBaseFileName="DataObjectHTMLContent"
                assembly="CSBooster.DataObj.HTMLContent"
                searchForSelectCtrl="ObjectDetailsForSelect.ascx"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataObj.Business.DataObjectHTMLContent"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
            <siteObjectType numericId="1030" id="Survey"
                isActive="true"
                allowedRoles="Admin,Basic"
                hasOverview="true"
                isFolderContent="true"
                isGeoTaggable="true"
                isMultiUpload="false"
                imageActionSmall="SmallCroppedJpg"
                imageActionExtraSmall="ExtraSmallCroppedJpg"
                cropCheckAndArchive="CopyMedia"
                imageActionLarge="Large"
                imageActionCrop="Crop"
                nameSingularKey="Survey"
                namePluralKey="Surveys"
                nameCreateMenuKey="CreateSurvey"
                allowedFileExtensions=""
                icon="icon_product.png"
                uploadWizard="createSurvey"
                editWizard="editSurvey"
                linkToWizardKey="LINK_TO_SURVEY_WIZARD"
                niceLinkToOverviewKey="NICE_LINK_TO_SURVEY_OVERVIEW"
                niceLinkToDetailKey="NICE_LINK_TO_SURVEY_DETAIL"
                linkToOverviewKey="LINK_TO_SURVEY_OVERVIEW"
                linkToDetailKey="LINK_TO_SURVEY_DETAIL"
                mediaFolder=""
                defaultImageURL="/Defmedia/DataObjectImageSmall.gif"
                isSearchable="false"
                localizationBaseFileName="DataObjectSurvey"
                assembly="CSBooster.DataObj.Survey"
                searchForSelectCtrl="ObjectDetailsForSelect.ascx"
                searchResultCtrl="SearchResultDefault.ascx"
                defaultLoadAmount="500"
                type="_4screen.CSB.DataObj.Business.DataObjectSurvey"
                viewHandlerCtrl="/UserControls/ObjectViewHandler.ascx"
                tagHandlerCtrl="/UserControls/ObjectTagHandlerSimple.ascx"
            />
        </siteObjects>
    </siteObjectSection>
</configuration>