<?xml version="1.0" encoding="UTF-8" ?>
<configuration>
	<ImageRules>
		<ImageSorurce CTYID="*">UserImages</ImageSorurce>
		<!--UserImages: Alle Bilder des eingellogten Benutzer
													 CommunityImages: Alle Bilder der Community in dem die Show Erstell wird
													CommunityUserImages: Nur Bilder von der  der Community die auch der Benutzer raufgeladen hat-->
		<ImageSorurce CTYID="db412e62-5d86-4e4e-8d88-a0441c231177">UserImages</ImageSorurce>
	</ImageRules>
	<Effects>
		<FadeFast FadingSpeed="5000" FadingStep="5"/>
		<FadeMedium FadingSpeed="1000" FadingStep="3"/>
		<FadeSlow FadingSpeed="100" FadingStep="1"/>

		<ScrollRight ScrollingSpeed="50" ScrollingStep="3"/>
		<ScrollLeft ScrollingSpeed="50" ScrollingStep="3"/>
		<ScrollTop ScrollingSpeed="50" ScrollingStep="3"/>
		<ScrollDown ScrollingSpeed="50" ScrollingStep="3"/>
	</Effects>
	<StyleFolder>
		<Community ID ="*"><![CDATA[/Library/OboutControls/show/styles/style5]]></Community>
		<Community ID ="db412e62-5d86-4e4e-8d88-a0441c231177"><![CDATA[/Library/OboutControls/show/styles/style5]]></Community>
	</StyleFolder>
	<SlideShowTemplate>
		<Community ID ="*">
			<![CDATA[<table><tr><td><img src='##SLImage##' alt='##SLTitle##' /></td></tr><tr><td><div class='SLDescription'>##SLDesc##</div></td></tr></table>]]>
		</Community>
	</SlideShowTemplate>
	<Show Height="450" Width="590"/>
	<Changer Height="40" Width="440" Status="On"/>
</configuration>
