<?xml version="1.0" encoding="utf-8" ?>
<Tagging>
   <!-- ObjectTagHandlerComplete.ascx, ObjectTagHandler.ascx, ObjectTagHandlerSimple.ascx-->
   <TagHandler Control="~/UserControls/ObjectTagHandlerSimple.ascx">

      <!-- Normal, ReadOnly, Hidden -->
      <MainTag>Normal</MainTag>

      <CategoryTag>
         <!-- Normal, MainTagLinked -->
         <Behavior>MainTagLinked</Behavior>

         <!-- Yes, No -->
         <MultiSelect>No</MultiSelect>
      </CategoryTag>

      <!-- Visible, Hidden -->
      <FreeTag>Hidden</FreeTag>

   </TagHandler>
</Tagging>
