<?xml version="1.0" encoding="Windows-1252" ?>
<configuration>
    <configSections>
        <section name="wizardSection" type="_4screen.CSB.Common.WizardSection, CSBooster.Common, Version=2.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <wizardSection>
        <wizards>
            <wizard id="PictureUpload" resourceKey="TitlePictureUpload" accessMode="Insert" objectType="Picture" needsAuthentication="false">
                <steps>
                    <step resourceKey="TitleStepUpload" control="~/Usercontrols/Wizards/FileUpload.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/MultipleObjects.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="PictureEdit" resourceKey="TitlePictureEdit" accessMode="Update" objectType="Picture" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Picture.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="VideoUpload" resourceKey="TitleVideoUpload" accessMode="Insert" objectType="Video" needsAuthentication="false">
                <steps>
                    <step resourceKey="TitleStepUpload" control="~/Usercontrols/Wizards/FileUpload.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/MultipleObjects.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="VideoEdit" resourceKey="TitleVideoEdit" accessMode="Update" objectType="Video" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Video.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="AudioUpload" resourceKey="TitleAudioUpload" accessMode="Insert" objectType="Audio" needsAuthentication="false">
                <steps>
                    <step resourceKey="TitleStepUpload" control="~/Usercontrols/Wizards/FileUpload.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/MultipleObjects.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="AudioEdit" resourceKey="TitleAudioEdit" accessMode="Update" objectType="Audio" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Audio.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="DocumentUpload" resourceKey="TitleDocumentUpload" accessMode="Insert" objectType="Document" needsAuthentication="false">
                <steps>
                    <step resourceKey="TitleStepUpload" control="~/Usercontrols/Wizards/FileUpload.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/MultipleObjects.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="DocumentEdit" resourceKey="TitleDocumentEdit" accessMode="Update" objectType="Document" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Document.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="ArticleUpload" resourceKey="TitleArticleUpload" accessMode="Insert" objectType="Article" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepWrite" control="~/Usercontrols/Wizards/Article.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="ArticleEdit" resourceKey="TitleArticleEdit" accessMode="Update" objectType="Article" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Article.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="EventUpload" resourceKey="TitleEventUpload" accessMode="Insert" objectType="Event" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/Event.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="EventEdit" resourceKey="TitleEventEdit" accessMode="Update" objectType="Event" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Event.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="SlideshowUpload" resourceKey="TitleSlideshowUpload" accessMode="Insert" objectType="SlideShow" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/Slideshow.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="SlideshowEdit" resourceKey="TitleSlideshowEdit" accessMode="Update" objectType="SlideShow" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Slideshow.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="FolderUpload" resourceKey="TitleFolderUpload" accessMode="Insert" objectType="Folder" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/Folder.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="FolderEdit" resourceKey="TitleFolderEdit" accessMode="Update" objectType="Folder" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Folder.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="ForumUpload" resourceKey="TitleForumUpload" accessMode="Insert" objectType="Forum" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/Forum.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="ForumEdit" resourceKey="TitleForumEdit" accessMode="Update" objectType="Forum" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Forum.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="ForumTopicUpload" resourceKey="TitleForumTopicUpload" accessMode="Insert" objectType="ForumTopic" needsAuthentication="false">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/ForumTopic.ascx" allowBack="false" allowNext="false" lastSaveStep="true"/>
                </steps>
            </wizard>
            <wizard id="ForumTopicEdit" resourceKey="TitleForumTopicEdit" accessMode="Update" objectType="ForumTopic" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/ForumTopic.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="NewsUpload" resourceKey="TitleNewsUpload" accessMode="Insert" objectType="News" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepWrite" control="~/Usercontrols/Wizards/News.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepAddPictures" control="~/Usercontrols/Wizards/AddPictures.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="NewsEdit" resourceKey="TitleNewsEdit" accessMode="Update" objectType="News" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/News.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepAddPictures" control="~/Usercontrols/Wizards/AddPictures.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="PinboardSearchUpload" resourceKey="TitlePinboardSearchUpload" accessMode="Insert" objectType="PinboardSearch" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/PinboardSearch.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="PinboardSearchEdit" resourceKey="TitlePinboardSearchEdit" accessMode="Update" objectType="PinboardSearch" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/PinboardSearch.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="PinboardOfferUpload" resourceKey="TitlePinboardOfferUpload" accessMode="Insert" objectType="PinboardOffer" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/PinboardOffer.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepAddPictures" control="~/Usercontrols/Wizards/AddPictures.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="PinboardOfferEdit" resourceKey="TitlePinboardOfferEdit" accessMode="Update" objectType="PinboardOffer" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/PinboardOffer.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepAddPictures" control="~/Usercontrols/Wizards/AddPictures.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="GenericUpload" resourceKey="TitleGenericUpload" accessMode="Insert" objectType="Generic" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/Generic.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="GenericEdit" resourceKey="TitleGenericEdit" accessMode="Update" objectType="Generic" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Generic.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="UserRegistration" resourceKey="TitleUserRegistration" accessMode="Insert" objectType="User" needsAuthentication="false">
                <steps>
                    <step resourceKey="TitleStepRegistration" control="~/Usercontrols/Wizards/User.ascx" allowBack="false" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="CommunityCreate" resourceKey="TitleCommunityCreate" accessMode="Insert" objectType="Community" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/Community.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="CommunityEdit" resourceKey="TitleCommunityEdit" accessMode="Update" objectType="Community" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Community.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="PageCreate" resourceKey="TitlePageCreate" accessMode="Insert" objectType="Page" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/Page.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="PageEdit" resourceKey="TitlePageEdit" accessMode="Update" objectType="Page" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Page.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="PollQuestionsUpload" resourceKey="TitlePollQuestionsUpload" accessMode="Insert" objectType="PollQuestion" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/PollQuestion.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="PollQuestionsEdit" resourceKey="TitlePollQuestionsEdit" accessMode="Update" objectType="PollQuestion" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/PollQuestion.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/Usercontrols/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="createProduct" localizationBaseFileName="DataObjectProduct" resourceKey="TitleProductUpload" accessMode="Insert" objectType="Product" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepUpload" control="~/UserControls/Wizards/Product.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepAddPictures" control="~/Usercontrols/Wizards/AddPictures.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/UserControls/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/UserControls/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="editProduct"  localizationBaseFileName="DataObjectProduct" resourceKey="TitleProductEdit" accessMode="Update" objectType="Product" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/UserControls/Wizards/Product.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepAddPictures" control="~/Usercontrols/Wizards/AddPictures.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/UserControls/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="createHTMLContent" localizationBaseFileName="DataObjectHTMLContent" resourceKey="TitleHTMLContentUpload" accessMode="Insert" objectType="HTMLContent" needsAuthentication="true">
                <steps>
                    <step resourceKey="HTMLContent_Step010" control="~/UserControls/Wizards/HTMLContent_Step010.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/UserControls/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/UserControls/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="editHTMLContent"  localizationBaseFileName="DataObjectHTMLContent" resourceKey="TitleHTMLContentEdit" accessMode="Update" objectType="HTMLContent" needsAuthentication="true">
                <steps>
                    <step resourceKey="HTMLContent_Step010" control="~/UserControls/Wizards/HTMLContent_Step010.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/UserControls/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="createSurvey"  localizationBaseFileName="DataObjectSurvey" resourceKey="TitleSurveyCreate" accessMode="Insert" objectType="Product" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStep01" control="~/UserControls/Wizards/SurveyStep01.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStep015" control="~/UserControls/Wizards/SurveyStep015.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStep02" control="~/UserControls/Wizards/SurveyStep02.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStep03" control="~/UserControls/Wizards/SurveyStep03.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/UserControls/Wizards/Tagging.ascx" allowBack="true" allowNext="true" lastSaveStep="true"/>
                    <step resourceKey="TitleStepFinish" control="~/UserControls/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="editSurvey"  localizationBaseFileName="DataObjectSurvey" resourceKey="TitleSurveyEdit" accessMode="Update" objectType="Product" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStep01" control="~/UserControls/Wizards/SurveyStep01.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStep015" control="~/UserControls/Wizards/SurveyStep015.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStep02" control="~/UserControls/Wizards/SurveyStep02.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStep03" control="~/UserControls/Wizards/SurveyStep03.ascx" allowBack="true" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepTagging" control="~/UserControls/Wizards/Tagging.ascx" allowBack="true" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="LocationUpload" resourceKey="TitleEventUpload" accessMode="Insert" objectType="Location" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepCreate" control="~/Usercontrols/Wizards/Location.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                    <step resourceKey="TitleStepFinish" control="~/Usercontrols/Wizards/Finish.ascx" allowBack="false" allowNext="false" lastSaveStep="false"/>
                </steps>
            </wizard>
            <wizard id="LocationEdit" resourceKey="TitleEventEdit" accessMode="Update" objectType="Location" needsAuthentication="true">
                <steps>
                    <step resourceKey="TitleStepEdit" control="~/Usercontrols/Wizards/Location.ascx" allowBack="false" allowNext="true" lastSaveStep="false"/>
                </steps>
            </wizard>
        </wizards>
    </wizardSection>
</configuration>
