<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CSBooster.GeoTagging.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <CSBooster.GeoTagging.Properties.Settings>
            <setting name="CSBooster_GeoTagging_MapPointService_CommonService"
                serializeAs="String">
                <value>http://findv3.staging.mappoint.net/Find-30/Common.asmx</value>
            </setting>
            <setting name="MPUser" serializeAs="String">
                <value>132967</value>
            </setting>
            <setting name="MPPass" serializeAs="String">
                <value>aB1234567$</value>
            </setting>
        </CSBooster.GeoTagging.Properties.Settings>
    </applicationSettings>
</configuration>