<?xml version="1.0" encoding="utf-8" ?>
<configuration>
   <configSections>
      <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      </sectionGroup>
   </configSections>
   <connectionStrings>
      <add name="CSBoosterConnectionString" connectionString="Data Source=4sappl02.INTRANET.4screen.local\SQL2005;Initial Catalog=CSBooster;Persist Security Info=True;User ID=CSBooster_User;Password=cs-booster;Connect Timeout=60;enlist=false;Asynchronous Processing=true" providerName="System.Data.SqlClient"/>
   </connectionStrings>
   <appSettings>
      <!-- Timer Settings -->
      <add key="ConverterJobQueueCheckIntervallSec" value="10"/>

      <!-- Upload Path-->
      <add key="ConverterRootPathUpload" value="\\csbmedia\csbooster\Upload"/>

      <!-- Media Path-->
      <add key="ConverterRootPathMedia" value="\\csbmedia\csbooster\Media"/>

      <!-- Local Convert Source Path-->
      <add key="ConverterLocalPathSource" value="C:\Temp\CSBooster.VideoConverterService\Source"/>

      <!-- Local Convert Target Path-->
      <add key="ConverterLocalPathTarget" value="C:\Temp\CSBooster.VideoConverterService\Target"/>

      <!-- Video Settings -->
      <add key="ConverterVideoConverterEngine" value="C:\Program Files\VIDEOzilla\Convert.exe"/>
      <add key="ConverterVideoConvertFlvProfil" value="12"/>
      <add key="ConverterVideoConvertWmvProfil" value="11"/>
      <add key="ConverterVideoWidth" value="488"/>
      <add key="ConverterVideoHeight" value="366"/>
      <add key="ShowConverterProgressOnEncoding" value="true"/>

      <!--Amazone S3-->
      <add key="UseAmazoneS3" value="True"/>
      <!-- test -->
      <add key="AmazoneS3BucketLocation" value="US"/>
      <add key="AmazoneS3AKey" value="0X3WDRGCCG09ESSB5MR2"/>
      <add key="AmazoneS3SAKey" value="LQp36LZLYsgpT13iG1aAfgJwKy7k+JlEkVLw3qba"/>
      <add key="AmazoneS3Bucket" value="sssmedia"/>
      <!-- news1 -->
      <!--<add key="AmazoneS3BucketLocation" value="EU"/>
      <add key="AmazoneS3AKey" value="1G1Q2DCP34RSH4WK2Y02"/>
      <add key="AmazoneS3SAKey" value="Fx064/hEkTvJIZBnr1yQVd4WnsRiqnn3hx+WJN4e"/>
      <add key="AmazoneS3Bucket" value="news1"/>-->

      <!-- Thumbnail Snapshot Settings -->
      <add key="ConverterVideoOptimizeSpeed" value="true"/>
      <add key="ConverterVideoSnapShotEngine" value="C:\Users\aw.INTRANET\Documents\Visual Studio 2008\Projects\CSBooster\CSBooster.VideoConverter.InfoApp\bin\Debug\CSBooster.VideoConverter.InfoApp.exe"/>
      <add key="ConverterImgLActionProfile" value="LargeResizedJpg"/>
      <add key="ConverterImgSActionProfile" value="SmallCroppedJpg"/>
      <add key="ConverterImgXSActionProfile" value="ExtraSmallCroppedJpg"/>

      <!-- Mail Settings -->
      <add key="ConverterMailFromAddress" value="norecipient@csbooster.net"/>
      <add key="ConverterMailFromDisplayName" value="CSBooster Video Converter - KEIN EMPFÄNGER"/>
      <add key="ConverterMailToOperator" value="pi@4screen.ch"/>
   </appSettings>
   <system.net>
      <mailSettings>
         <smtp from="pi@4screen.ch">
            <network host="212.59.167.133" />
         </smtp>
      </mailSettings>
   </system.net>
</configuration>
