<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <add name="CSBoosterConnectionString" connectionString="Data Source=4sappl02.INTRANET.4screen.local\SQL2005;Initial Catalog=CSBooster.V20;Persist Security Info=True;User ID=CSBooster_User;Password=cs-booster;Connect Timeout=60;enlist=false;Asynchronous Processing=true;Pooling=true;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
</configuration>