<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="_4screen.CSB.Extensions.Properties.Settings.CSBoosterConnectionString"
            connectionString="Data Source=4SAPPL02\SQL2005;Initial Catalog=CSBooster;Persist Security Info=True;User ID=CSBooster_User;Password=cs-booster"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>