 # Helicon ISAPI_Rewrite configuration file
# Version 3.1.0.58

RewriteEngine on

RewriteRule ^(([A-Za-z]*-[A-Za-z]*)/)?([A-Za-z/]*?)\.(aspx|htm|ico|txt) $3.$4                                                                  [L,NC]
RewriteRule ^(.*)?\.(.*) -                                                                                          [L,NC]
RewriteRule .*?\.(axd|asmx|ashx) -                                                                                  [L,NC]
RewriteRule Telerik.Web.UI.DialogHandler.aspx  -                                                                    [L,NC]
RewriteRule ResourceEditDialog.aspx -                                                                               [L,NC]

RewriteRule ^((.*)/)?mobile$                     MPDefault.aspx?LG=$2                                               [L,NC]
RewriteRule ^((.*)/)?mobile/fotos$               M/objectoverview.aspx?OT=Picture&LG=$2                             [L,NC]
RewriteRule ^((.*)/)?mobile/videos$              M/objectoverview.aspx?OT=Video&LG=$2                               [L,NC]
RewriteRule ^((.*)/)?mobile/events$              M/objectoverview.aspx?OT=Event&LG=$2                               [L,NC]
RewriteRule ^((.*)/)?mobile/locations$           M/objectoverview.aspx?OT=Location&LG=$2                            [L,NC]
RewriteRule ^((.*)/)?mobile/forum/([^/]*)$       M/ObjectDetail.aspx?OID=$3&OT=Forum&LG=$2                          [L,NC]
RewriteRule ^((.*)/)?mobile/forumtopic/([^/]*)$  M/ObjectDetail.aspx?OID=$3&OT=ForumTopic&LG=$2                     [L,NC]
RewriteRule ^((.*)/)?mobile/foto/([^/]*)$        M/ObjectDetail.aspx?OID=$3&OT=Picture&LG=$2                        [L,NC]
RewriteRule ^((.*)/)?mobile/video/([^/]*)$       M/ObjectDetail.aspx?OID=$3&OT=Video&LG=$2                          [L,NC]
RewriteRule ^((.*)/)?mobile/event/([^/]*)$       M/ObjectDetail.aspx?OID=$3&OT=Event&LG=$2                          [L,NC]
RewriteRule ^((.*)/)?mobile/location/([^/]*)$    M/ObjectDetail.aspx?OID=$3&OT=Location&LG=$2                       [L,NC]

RewriteRule ^((.*)/)?users$                      Default.aspx?CN=users&XCN=&OT=User&LG=$2                           [L,NC]
RewriteRule ^((.*)/)?communities$                Default.aspx?CN=communities&XCN=&OT=Community&LG=$2                [L,NC]
RewriteRule ^((.*)/)?videos$                     Default.aspx?CN=videos&XCN=&OT=Video&LG=$2                         [L,NC]
RewriteRule ^((.*)/)?pictures$                   Default.aspx?CN=pictures&XCN=&OT=Picture&LG=$2                     [L,NC]
RewriteRule ^((.*)/)?blogs$                      Default.aspx?CN=blogs&XCN=&OT=Article&LG=$2                        [L,NC]
RewriteRule ^((.*)/)?audios$                     Default.aspx?CN=audios&XCN=&OT=Audio&LG=$2                         [L,NC]
RewriteRule ^((.*)/)?forums$                     Default.aspx?CN=forums&XCN=&OT=Forum&LG=$2                         [L,NC]
RewriteRule ^((.*)/)?forumtopics$                Default.aspx?CN=forumtopics&XCN=&OT=ForumTopic&LG=$2               [L,NC]
RewriteRule ^((.*)/)?slideshows$                 Default.aspx?CN=slideshows&XCN=&OT=SlideShow&LG=$2                 [L,NC]
RewriteRule ^((.*)/)?folders$                    Default.aspx?CN=folders&XCN=&OT=Folder&LG=$2                       [L,NC]
RewriteRule ^((.*)/)?events$                     Default.aspx?CN=events&XCN=&OT=Event&LG=$2                         [L,NC]
RewriteRule ^((.*)/)?news$                       Default.aspx?CN=news&XCN=&OT=News&LG=$2                            [L,NC]
RewriteRule ^((.*)/)?requests$                   Default.aspx?CN=requests&XCN=&OT=PinboardSearch&LG=$2              [L,NC]
RewriteRule ^((.*)/)?offers$                     Default.aspx?CN=offers&XCN=&OT=PinboardOffer&LG=$2                 [L,NC]
RewriteRule ^((.*)/)?documents$                  Default.aspx?CN=documents&XCN=&OT=Document&LG=$2                   [L,NC]
RewriteRule ^((.*)/)?generics$                   Default.aspx?CN=generics&XCN=&OT=Generic&LG=$2                     [L,NC]
RewriteRule ^((.*)/)?polls$                      Default.aspx?CN=polls&XCN=&OT=PollQuestion&LG=$2                   [L,NC]
RewriteRule ^((.*)/)?locations$                  Default.aspx?CN=locations&XCN=&OT=Location&LG=$2                   [L,NC]
RewriteRule ^((.*)/)?products$                   Default.aspx?CN=products&XCN=&OT=Product&LG=$2                     [L,NC]
RewriteRule ^((.*)/)?contents$                   Default.aspx?CN=contents&XCN=&OT=HTMLContent&LG=$2                 [L,NC]
RewriteRule ^((.*)/)?surveys$                    Default.aspx?CN=surveys&XCN=&OT=Survey&LG=$2                       [L,NC]
RewriteRule ^((.*)/)?magvideo/([^/]*)/([^/]*)$   Default.aspx?CN=video&OID=$3&OT=Video&LG=$2&rpoid=$4               [L,NC]

RewriteRule ^((.*)/)?user/([^/]*)/([^/]*)$       Default.aspx?UI=$3&P=$4&LG=$2                                      [L,NC]
RewriteRule ^((.*)/)?user/([^/]*)$               Default.aspx?UI=$3&LG=$2                                           [L,NC]
RewriteRule ^((.*)/)?community/([^/]*)/([^/]*)$  Default.aspx?CN=$3&P=$4&LG=$2                                      [L,NC]
RewriteRule ^((.*)/)?community/([^/]*)$          Default.aspx?CN=$3&LG=$2                                           [L,NC]
RewriteRule ^((.*)/)?video/([^/]*)$              Default.aspx?CN=video&OID=$3&OT=Video&LG=$2                        [L,NC]
RewriteRule ^((.*)/)?picture/([^/]*)$            Default.aspx?CN=picture&OID=$3&OT=Picture&LG=$2                    [L,NC]
RewriteRule ^((.*)/)?blog/([^/]*)$               Default.aspx?CN=blog&OID=$3&OT=Article&LG=$2                       [L,NC]
RewriteRule ^((.*)/)?audio/([^/]*)$              Default.aspx?CN=audio&OID=$3&OT=Audio&LG=$2                        [L,NC]
RewriteRule ^((.*)/)?forum/([^/]*)$              Default.aspx?CN=forum&OID=$3&OT=Forum&LG=$2                        [L,NC]
RewriteRule ^((.*)/)?forumtopic/([^/]*)$         Default.aspx?CN=forumtopic&OID=$3&OT=ForumTopic&LG=$2              [L,NC]
RewriteRule ^((.*)/)?slideshow/([^/]*)$          Default.aspx?CN=slideshow&OID=$3&OT=Slideshow&LG=$2                [L,NC]
RewriteRule ^((.*)/)?folder/([^/]*)$             Default.aspx?CN=folder&OID=$3&OT=Folder&LG=$2                      [L,NC]
RewriteRule ^((.*)/)?event/([^/]*)$              Default.aspx?CN=event&OID=$3&OT=Event&LG=$2                        [L,NC]
RewriteRule ^((.*)/)?newsdet/([^/]*)$            Default.aspx?CN=newsdet&OID=$3&OT=News&LG=$2                       [L,NC]
RewriteRule ^((.*)/)?request/([^/]*)$            Default.aspx?CN=request&OID=$3&OT=PinboardSearch&LG=$2             [L,NC]
RewriteRule ^((.*)/)?offer/([^/]*)$              Default.aspx?CN=offer&OID=$3&OT=PinboardOffer&LG=$2                [L,NC]
RewriteRule ^((.*)/)?document/([^/]*)$           Default.aspx?CN=document&OID=$3&OT=Document&LG=$2                  [L,NC]
RewriteRule ^((.*)/)?generic/([^/]*)$            Default.aspx?CN=generic&OID=$3&OT=Generic&LG=$2                    [L,NC]
RewriteRule ^((.*)/)?poll/([^/]*)$               Default.aspx?CN=poll&OID=$3&OT=PollQuestion&LG=$2                  [L,NC]
RewriteRule ^((.*)/)?location/([^/]*)$           Default.aspx?CN=location&OID=$3&OT=Location&LG=$2                  [L,NC]
RewriteRule ^((.*)/)?product/([^/]*)$            Default.aspx?CN=product&OID=$3&OT=Product&LG=$2                    [L,NC]
RewriteRule ^((.*)/)?content/([^/]*)$            Default.aspx?CN=content&OID=$3&OT=HTMLContent&LG=$2                [L,NC]
RewriteRule ^((.*)/)?survey/([^/]*)$             Default.aspx?CN=survey&OID=$3&OT=Survey&LG=$2                      [L,NC]

RewriteRule ^((.*)/)?tag/([^/]*)$                Default.aspx?CN=TagPage&XCN=&TGL1=$3&LG=$2                         [L,NC]

RewriteRule ^((.*)/)?([^/]{1,})$                 Default.aspx?CN=$3&LG=$2                                           [L,NC]
