<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Pfad zum speichern der caching-files -->
        <add key="CachingPath" value="\\testserver\csbooster\media"/>

        <!-- Root Pfad zur Web Applikation-->
        <!--<add key="PhysicalApplicationPath" value="C:\Users\aw.INTRANET\Documents\Visual Studio 2008\Projects\CSBooster\CSBooster.WebUI\"/>-->
        <!-- Alternativer Root Pfad zur Web Applikation-->
        <!--<add key="PhysicalApplicationPath_Secondary" value="C:\Users\aw.INTRANET\Documents\Visual Studio 2008\Projects\CSBooster\CSBooster.WebUI\"/>-->

        <add key="BugReportMail" value="aw@online.ch"/>
        <add key="ServiceName" value="CSBooster DataAccess - 4.0.0.0"/>
        <add key="ServiceLogName" value="CSBooster"/>
        <add key="ServiceLogSourceName" value="DataAccess"/>
        <add key="DefaultCreateGroupUsers" value="Owners"/>
        <add key="DefaultUploadUsers" value="Members"/>

        <add key="CheckIntervalSecond" value="30"/>

        <add key="SiteName" value="MySG"/>
        <add key="HostName" value="http://www.webforumsg.ch"/>
        <add key="ConverterRootPath" value="\\testserver\csbooster" />
        <add key="ConverterRootPathUpload" value="\\testserver\csbooster\Upload" />
        <add key="ConverterRootPathMedia" value="\\testserver\csbooster\Media" />
        <add key="MediaDomainName" value="http://sieme.local.media" />
        <add key="EmailLocationMissing" value="wys@online.ch"/>
        <add key="AutoGeoTagging" value="true"/>
        <add key="GeoTaggingProvider" value="Google"/>
    </appSettings>

    <connectionStrings>
        <add name="CSBoosterConnectionString" connectionString="Data Source=4sappl02.INTRANET.4screen.local\SQL2005;Initial Catalog=CSBooster.WebForumSG;Persist Security Info=True;User ID=CSBooster_User;Password=cs-booster;Connect Timeout=60;enlist=false;Asynchronous Processing=true;Pooling=true;" providerName="System.Data.SqlClient"/>
    </connectionStrings>
    <system.web>
        <membership defaultProvider="CSBoosterMembershipProvider">
            <providers>
                <clear/>
                <add connectionStringName="CSBoosterConnectionString" enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="false" applicationName="CSBooster" requiresUniqueEmail="true" passwordFormat="Hashed" minRequiredPasswordLength="2" passwordStrengthRegularExpression="" minRequiredNonalphanumericCharacters="0" name="CSBoosterMembershipProvider" type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
            </providers>
        </membership>
        <profile enabled="true" automaticSaveEnabled="false" defaultProvider="CSBoosterProfileSqlProvider" inherits="_4screen.CSB.Common.UserProfile, CSBooster.Common">
            <providers>
                <clear/>
                <add name="CSBoosterProfileSqlProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="CSBoosterConnectionString" applicationName="CSBooster" description="SqlProfileProvider for CSBooster"/>
            </providers>
        </profile>
    </system.web>
    <system.net>
        <mailSettings>
            <smtp from="aw@online.ch">
                <network host="mail.ocx.ch" password="" userName=""/>
            </smtp>
        </mailSettings>
    </system.net>
</configuration>
