<?xml version="1.0" encoding="utf-8" ?>
<Jobs>
    <!-- startType 1=Täglich um 'startTime'  / 2=Fliessen alle 'waitMinutes' -->

    <!-- Start täglich um 00:05 Uhr -->
    <Job startType="1" startTime="00:05:00" waitMinutes="1">
        <!-- WICHTIG: Dieser Job darf nur einmal pro Tag aufgerufen werden, ansonsten die Mails mehrmals versendet werden -->
        <Execute activ="false" log="false" assembly="CSBooster.DataAccess.dll" className="_4screen.CSB.DataAccess.Background.BackgroundJobs" methodName="StartBirthdayCheck">
            <Parameter desc="DayCountBefore" >1</Parameter>
        </Execute>
    </Job>

    <!-- Start alle 60 minuten -->
    <Job startType="2" startTime="18:05:00" waitMinutes="60">
        <Execute activ="false" log="false" assembly="CSBooster.DataAccess.dll" className="_4screen.CSB.DataAccess.Background.BackgroundJobs" methodName="SetEmphasis" />
        <Execute activ="false" log="false" assembly="CSBooster.DataAccess.dll" className="_4screen.CSB.DataAccess.Background.BackgroundJobs" methodName="SetAgility" />
        <Execute activ="false" log="false" assembly="CSBooster.DataAccess.dll" className="_4screen.CSB.DataAccess.Background.BackgroundJobs" methodName="StartAdWordBatch" />

        <!-- Erstellt die Daten für die PageView-Statistiken -->
        <Execute activ="false" log="false" assembly="CSBooster.DataAccess.dll" className="_4screen.CSB.DataAccess.Background.BackgroundJobs" methodName="ExecuteStoreProcedure">
            <Parameter desc="Name" >hisp_Statistic_SiteView_Upgrade</Parameter>
        </Execute>

        <!-- Erstellt die Daten für die ObjectCount-Statistiken (pro USR/CTY Tag)-->
        <Execute activ="false" log="false" assembly="CSBooster.DataAccess.dll" className="_4screen.CSB.DataAccess.Background.BackgroundJobs" methodName="ExecuteStoreProcedure">
            <Parameter desc="Name" >hisp_Statistic_ObjectCount_Upgrade</Parameter>
        </Execute>

        <!-- Erstellt die Daten für die ObjectCreationCount-Statistiken (pro USR/CTY Tag)-->
        <Execute activ="false" log="false" assembly="CSBooster.DataAccess.dll" className="_4screen.CSB.DataAccess.Background.BackgroundJobs" methodName="ExecuteStoreProcedure">
            <Parameter desc="Name" >hisp_Statistic_ObjectCreation_Upgrade</Parameter>
        </Execute>

        <!-- Erstellt die Daten für die UserVisit-Statistiken (pro Single Visit Tag)-->
        <Execute activ="false" log="false" assembly="CSBooster.DataAccess.dll" className="_4screen.CSB.DataAccess.Background.BackgroundJobs" methodName="ExecuteStoreProcedure">
            <Parameter desc="Name" >hisp_Statistic_SiteVisit_Upgrade</Parameter>
        </Execute>
    </Job>

    <!-- Start alle 1 minuten -->
    <Job startType="2" startTime="" waitMinutes="1">
        <Execute activ="true" log="true" assembly="CSBooster.WebForumSG.DataAccess.dll" className="_4screen.CSB.DataAccess.WebForumSG.OstEventsImporter" methodName="ImportEvents">
            <Parameter desc="Url">http://www.webforumsg.ch/export_igo_stadtstgallen.xml</Parameter>
            <Parameter desc="TagMapping">EventType1=Kino/Film,EventType2=Museum/Ausstellung,EventType3=Messe/Markt,EventType4=Musik/Klub,EventType5=Wirtschaft/Bildung,EventType6=Sport,EventType7=Bühne,EventType8=Vortrag/Lesung,EventType9=Ausserdem,EventType9=Freizeit,EventType2=Ausstellungen,EventType8=Vorträge/Lesungen,EventType4=Musik/Clubs,EventType9=Öffentliche Einrichtungen,EventType6=Sportveranstaltungen</Parameter>
        </Execute>


        <Execute activ="false" log="false" assembly="CSBooster.Notification.dll" className="_4screen.CSB.Notification.Business.Notification" methodName="AllocateNotification" />
        <Execute activ="false" log="false" assembly="CSBooster.Notification.dll" className="_4screen.CSB.Notification.Business.Notification" methodName="CreateNotification" />
        <Execute activ="false" log="false" assembly="CSBooster.Notification.dll" className="_4screen.CSB.Notification.Business.Notification" methodName="SendNotification" />
    </Job>
</Jobs>
